# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries
import pandas as pd

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [11]:
# import dataset
pokemon= pd.read_csv("C:\\Users\\Zoe Mercury\\Desktop\\Iron\\Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [9]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [31]:
# your code here

types = ["Type 1", "Type 2"]
pokemon[types]

print (pokemon["Type 1"].unique())
print (pokemon["Type 2"].unique())

#how to remove the NaN from the Type 2 array?

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']
['Poison' nan 'Flying' 'Dragon' 'Ground' 'Fairy' 'Grass' 'Fighting'
 'Psychic' 'Steel' 'Ice' 'Rock' 'Dark' 'Water' 'Electric' 'Fire' 'Ghost'
 'Bug' 'Normal']

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [48]:
# your code here

pokemon["Name"].str.strip(how to tell him to delete repetition)

# test transformed data
# pokemon.head(10)

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [49]:
# your code here
pokemon['A/D Ratio'] = pokemon ["Attack"] / pokemon ["Defense"]
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [40]:
# your code here
pokemon["A/D Ratio"].max()

9.0

In [41]:
condition= pokemon["A/D Ratio"]== 9.0
pokemon[condition]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

In [42]:
pokemon[pokemon["A/D Ratio"]==9.0]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [43]:
# your code here
pokemon["A/D Ratio"].min()

0.043478260869565216

In [44]:
pokemon[pokemon["A/D Ratio"]==0.043478260869565216]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [64]:
# your code here

def combo(x):
    if x != "nan":
        return pokemon["Type 1"]+pokemon["Type 2"]
    else:
        return pokemon["Type 1"]
    
pokemon["Type 2"].apply(combo)

# condition_a = (pokemon["Type 2"] != nan) 
# #how to formulate the condition "if they have valid values"
# # if not == nan

# pokemon["Combo Type"]= pokemon[condition_a]

,0,1,2,3,4,5,6,7,8,9,...,790,791,792,793,794,795,796,797,798,799
0,GrassPoison,GrassPoison,GrassPoison,GrassPoison,NaN,NaN,FireFlying,FireDragon,FireFlying,NaN,...,FlyingDragon,FlyingDragon,NaN,DarkFlying,DragonGround,RockFairy,RockFairy,PsychicGhost,PsychicDark,FireWater
1,GrassPoison,GrassPoison,GrassPoison,GrassPoison,NaN,NaN,FireFlying,FireDragon,FireFlying,NaN,...,FlyingDragon,FlyingDragon,NaN,DarkFlying,DragonGround,RockFairy,RockFairy,PsychicGhost,PsychicDark,FireWater
2,GrassPoison,GrassPoison,GrassPoison,GrassPoison,NaN,NaN,FireFlying,FireDragon,FireFlying,NaN,...,FlyingDragon,FlyingDragon,NaN,DarkFlying,DragonGround,RockFairy,RockFairy,PsychicGhost,PsychicDark,FireWater
3,GrassPoison,GrassPoison,GrassPoison,GrassPoison,NaN,NaN,FireFlying,FireDragon,FireFlying,NaN,...,FlyingDragon,FlyingDragon,NaN,DarkFlying,DragonGround,RockFairy,RockFairy,PsychicGhost,PsychicDark,FireWater
4,GrassPoison,GrassPoison,GrassPoison,GrassPoison,NaN,NaN,FireFlying,FireDragon,FireFlying,NaN,...,FlyingDragon,FlyingDragon,NaN,DarkFlying,DragonGround,RockFairy,RockFairy,PsychicGhost,PsychicDark,FireWater
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,GrassPoison,GrassPoison,GrassPoison,GrassPoison,NaN,NaN,FireFlying,FireDragon,FireFlying,NaN,...,FlyingDragon,FlyingDragon,NaN,DarkFlying,DragonGround,RockFairy,RockFairy,PsychicGhost,PsychicDark,FireWater
796,GrassPoison,GrassPoison,GrassPoison,GrassPoison,NaN,NaN,FireFlying,FireDragon,FireFlying,NaN,...,FlyingDragon,FlyingDragon,NaN,DarkFlying,DragonGround,RockFairy,RockFairy,PsychicGhost,PsychicDark,FireWater
797,GrassPoison,GrassPoison,GrassPoison,GrassPoison,NaN,NaN,FireFlying,FireDragon,FireFlying,NaN,...,FlyingDragon,FlyingDragon,NaN,DarkFlying,DragonGround,RockFairy,RockFairy,PsychicGhost,PsychicDark,FireWater
798,GrassPoison,GrassPoison,GrassPoison,GrassPoison,NaN,NaN,FireFlying,FireDragon,FireFlying,NaN,...,FlyingDragon,FlyingDragon,NaN,DarkFlying,DragonGround,RockFairy,RockFairy,PsychicGhost,PsychicDark,FireWater
799,GrassPoison,GrassPoison,GrassPoison,GrassPoison,NaN,NaN,FireFlying,FireDragon,FireFlying,NaN,...,FlyingDragon,FlyingDragon,NaN,DarkFlying,DragonGround,RockFairy,RockFairy,PsychicGhost,PsychicDark,FireWater

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [ ]:
# your code here

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [ ]:
# your code here

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [ ]:
# your code here