# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
# Importing the dataset
pokemon = pd.read_csv('Pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [3]:
# your code here
# Let's define the hypothesis for the computation of Total
hypothesis = (pokemon['Total'] == pokemon['HP'] + pokemon['Attack'] + pokemon['Defense'] + pokemon['Sp. Atk'] + pokemon['Sp. Def'] \
+ pokemon['Speed'])

# Let's check if the the sum of booleans 'True' is equal to the length of DataFrame
len(pokemon) == sum(hypothesis)

# The hypothesis is confirmed!

True

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [4]:
# your code here
# Let's get all the distinct values for Type 1 and Type 2
set1 = set(pokemon['Type 1'].unique())
set2 = set(pokemon['Type 2'].unique())
sets = set1.union(set2)
sets.discard(np.nan)

# Let's define a new DataFrame OHE, filled in with zeros, where the columns will be the distinct Types and the rows will be
# the same as pokemon DataFrame
OHE = pd.DataFrame(data= np.zeros((len(pokemon), len(sets)), dtype= int), index= range(len(pokemon)), columns=list(sets))

# Let's check the types of DataFrame pokemon and insert 1's in each columns
for i in range(len(pokemon)):
    if pokemon['Type 1'][i] in OHE.columns:
        OHE[pokemon['Type 1'][i]][i] = 1
    if pokemon['Type 2'][i] in OHE.columns:
        OHE[pokemon['Type 2'][i]][i] = 1
        
# Let's check the content of first five rows
OHE.head()

,Psychic,Ground,Dark,Grass,Rock,Fighting,Ghost,Fairy,Electric,Water,Poison,Normal,Dragon,Bug,Fire,Flying,Steel,Ice
0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [5]:
# your code here

# Let's use the Pearson product-moment correlation
# The first array passed to method corrcoef was the Total values and the second were the Types
np.corrcoef(pokemon['Total'], OHE.T)

array([[ 1.00000000e+00,  1.24688025e-01,  1.50604719e-02,
         5.61537741e-02, -5.25918049e-02,  3.27312010e-02,
         7.77862193e-02,  3.64057484e-03, -3.66977411e-02,
         2.09713304e-02, -2.16648673e-02, -9.04414139e-02,
        -1.05330951e-01,  2.29704716e-01, -1.45781361e-01,
         7.87260561e-02,  5.93834025e-02,  1.09703254e-01,
         6.02481677e-02],
       [ 1.24688025e-01,  1.00000000e+00, -7.90794989e-02,
        -4.43269336e-02, -9.40087603e-02, -6.90306864e-02,
         5.96448005e-04, -7.09465774e-02,  2.72266385e-02,
        -9.19277120e-02, -9.96392409e-02, -1.03195259e-01,
        -1.12380505e-01, -2.65568946e-02, -1.11967670e-01,
        -6.12434932e-02, -6.38715695e-02,  2.45402241e-02,
        -4.23108427e-02],
       [ 1.50604719e-02, -7.90794989e-02,  1.00000000e+00,
        -2.34804041e-02, -9.70329911e-02,  7.20853757e-02,
        -8.05309918e-02, -3.59082488e-02, -6.93599248e-02,
        -5.94203435e-02, -6.84412070e-03, -5.38775053e-02,
        -1.02044152e-01,  5.24297148e-02, -6.35438767e-02,
        -2.26209382e-02, -6.05779324e-02, -2.07708039e-02,
        -3.87163300e-03],
       [ 5.61537741e-02, -4.43269336e-02, -2.34804041e-02,
         1.00000000e+00, -4.83388713e-02, -3.34932911e-02,
        -7.79145194e-03,  1.48355337e-03, -5.98642270e-02,
        -6.73749645e-02, -2.85482390e-02, -1.82265700e-02,
        -9.97508382e-02, -3.96323321e-03, -8.20624989e-02,
        -2.03684908e-02, -2.21640975e-02, -2.39781508e-02,
        -1.01629882e-02],
       [-5.25918049e-02, -9.40087603e-02, -9.70329911e-02,
        -4.83388713e-02,  1.00000000e+00, -7.28290168e-02,
        -5.11712496e-02,  7.53157274e-02, -4.87561639e-02,
        -7.88179438e-02, -1.26893786e-01,  1.10372486e-01,
        -1.17155954e-01, -7.88179438e-02, -3.44303842e-02,
        -1.08247612e-01, -8.13662789e-02, -6.15370744e-02,
        -2.74763934e-02],
       [ 3.27312010e-02, -6.90306864e-02,  7.20853757e-02,
        -3.34932911e-02, -7.28290168e-02,  1.00000000e+00,
        -5.50904443e-02, -6.90566151e-02,  2.21175616e-03,
        -7.21882335e-02,  1.14465583e-02, -8.10363195e-02,
        -1.06877040e-01, -3.23602426e-02, -3.70565327e-03,
        -6.46765026e-02, -4.82213931e-02,  4.92015438e-02,
        -1.71100668e-02],
       [ 7.77862193e-02,  5.96448005e-04, -8.05309918e-02,
        -7.79145194e-03, -5.11712496e-02, -5.50904443e-02,
         1.00000000e+00, -6.57916649e-02, -6.11083888e-02,
        -6.87752225e-02, -7.37780757e-02, -3.96127788e-02,
        -7.16873871e-02, -6.87752225e-02, -4.86451540e-02,
         5.11295463e-02, -8.61192303e-02, -5.16119160e-03,
        -5.94828744e-02],
       [ 3.64057484e-03, -7.09465774e-02, -3.59082488e-02,
         1.48355337e-03,  7.53157274e-02, -6.90566151e-02,
        -6.57916649e-02,  1.00000000e+00, -5.66652022e-02,
        -4.15921180e-02, -7.73135597e-02,  8.73555756e-03,
        -9.44203525e-02, -1.94096551e-02, -5.89146237e-02,
        -1.34587714e-02, -6.15553827e-02,  2.64794243e-02,
        -2.99139983e-02],
       [-3.66977411e-02,  2.72266385e-02, -6.93599248e-02,
        -5.98642270e-02, -4.87561639e-02,  2.21175616e-03,
        -6.11083888e-02, -5.66652022e-02,  1.00000000e+00,
        -3.55409327e-02, -6.77027688e-02, -6.64952868e-02,
        -1.71959193e-03, -3.55409327e-02, -7.21479105e-02,
        -6.76510091e-02, -5.26688408e-02,  1.31552128e-02,
        -5.12315520e-02],
       [ 2.09713304e-02, -9.19277120e-02, -5.94203435e-02,
        -6.73749645e-02, -7.88179438e-02, -7.21882335e-02,
        -6.87752225e-02, -4.15921180e-02, -3.55409327e-02,
         1.00000000e+00, -6.91088637e-02, -7.48379761e-02,
        -6.77367902e-02, -2.40000000e-02, -4.51109968e-02,
        -5.71040241e-02, -2.04067757e-02, -1.34597304e-03,
        -3.33816475e-02],
       [-2.16648673e-02, -9.96392409e-02, -6.84412070e-03,
        -2.85482390e-02, -1.26893786e-01,  1.14465583e-02,
        -7.37780757e-02, -7.73135597e-02, -6.77027688e-02,
        -6.91088637e-02,  1.00000000e+00, -7.39860859e-02,
        -1.54994435e-01, -8.32850409e-02, -1.23983350e-01,
        -1.14850191e-01, -9.20304027e-02, -9.61312153e-02,
         2.41989622e-04],
       [-9.04414139e-02, -1.03195259e-01, -5.38775053e-02,
        -1.82265700e-02,  1.10372486e-01, -8.10363195e-02,
        -3.96127788e-02,  8.73555756e-03, -6.64952868e-02,
        -7.48379761e-02, -7.39860859e-02,  1.00000000e+00,
        -1.10800071e-01, -5.55249500e-02,  1.21209854e-01,
        -8.54709918e-02, -6.79499230e-02, -7.40364754e-02,
        -6.47264781e-02],
       [-1.05330951e-01, -1.12380505e-01, -1.02044152e-01,
        -9.97508382e-02, -1.17155954e-01, -1.06877040e-01,
        -7.16873871e-02, -9.44203525e-02, -1.71959193e-03,
        -6.77367902e-02, -1.54994435e-01, -1.10800071e-01,
         1.00000000e+00, -9.87021800e-02, -1.20218951e-01,
        -8.50969526e-02,  1.25506243e-01, -9.76450981e-02,
        -8.53663450e-02],
       [ 2.29704716e-01, -2.65568946e-02,  5.24297148e-02,
        -3.96323321e-03, -7.88179438e-02, -3.23602426e-02,
        -6.87752225e-02, -1.94096551e-02, -3.55409327e-02,
        -2.40000000e-02, -8.32850409e-02, -5.55249500e-02,
        -9.87021800e-02,  1.00000000e+00, -8.11997943e-02,
        -3.80693494e-02,  2.62372830e-02, -4.44171104e-02,
         1.51734762e-02],
       [-1.45781361e-01, -1.11967670e-01, -6.35438767e-02,
        -8.20624989e-02, -3.44303842e-02, -3.70565327e-03,
        -4.86451540e-02, -5.89146237e-02, -7.21479105e-02,
        -4.51109968e-02, -1.23983350e-01,  1.21209854e-01,
        -1.20218951e-01, -8.11997943e-02,  1.00000000e+00,
        -6.05364570e-02,  6.45714095e-02,  4.71780303e-02,
        -7.02287391e-02],
       [ 7.87260561e-02, -6.12434932e-02, -2.26209382e-02,
        -2.03684908e-02, -1.08247612e-01, -6.46765026e-02,
         5.11295463e-02, -1.34587714e-02, -6.76510091e-02,
        -5.71040241e-02, -1.14850191e-01, -8.54709918e-02,
        -8.50969526e-02, -3.80693494e-02, -6.05364570e-02,
         1.00000000e+00, -2.88552707e-02, -5.61081482e-02,
        -6.58514576e-02],
       [ 5.93834025e-02, -6.38715695e-02, -6.05779324e-02,
        -2.21640975e-02, -8.13662789e-02, -4.82213931e-02,
        -8.61192303e-02, -6.15553827e-02, -5.26688408e-02,
        -2.04067757e-02, -9.20304027e-02, -6.79499230e-02,
         1.25506243e-01,  2.62372830e-02,  6.45714095e-02,
        -2.88552707e-02,  1.00000000e+00, -8.14003274e-02,
        -4.94984413e-02],
       [ 1.09703254e-01,  2.45402241e-02, -2.07708039e-02,
        -2.39781508e-02, -6.15370744e-02,  4.92015438e-02,
        -5.16119160e-03,  2.64794243e-02,  1.31552128e-02,
        -1.34597304e-03, -9.61312153e-02, -7.40364754e-02,
        -9.76450981e-02, -4.44171104e-02,  4.71780303e-02,
        -5.61081482e-02, -8.14003274e-02,  1.00000000e+00,
        -5.70416900e-02],
       [ 6.02481677e-02, -4.23108427e-02, -3.87163300e-03,
        -1.01629882e-02, -2.74763934e-02, -1.71100668e-02,
        -5.94828744e-02, -2.99139983e-02, -5.12315520e-02,
        -3.33816475e-02,  2.41989622e-04, -6.47264781e-02,
        -8.53663450e-02,  1.51734762e-02, -7.02287391e-02,
        -6.58514576e-02, -4.94984413e-02, -5.70416900e-02,
         1.00000000e+00]])

In [6]:
# Let's access just the first row of resulting matrix, because it represents the correlation of first array passed to the
# method (Total) with every single Type. The highest value besides 1 is in the 4th position (3th position of OHE DataFrame).
sorted(np.corrcoef(pokemon['Total'], OHE.T)[0], reverse= True)

[1.0,
 0.22970471632170136,
 0.12468802510752985,
 0.10970325430519129,
 0.07872605613705128,
 0.07778621928342086,
 0.06024816769180368,
 0.05938340252570134,
 0.056153774076480374,
 0.03273120096913447,
 0.02097133042854515,
 0.015060471925699958,
 0.003640574839312847,
 -0.021664867287180676,
 -0.036697741141880166,
 -0.052591804857806075,
 -0.09044141387432209,
 -0.10533095102451878,
 -0.14578136125238408]

In [7]:
# Let's check what is the index of highest correlation value after the unity
np.where(np.corrcoef(pokemon['Total'], OHE.T)[0] == sorted(np.corrcoef(pokemon['Total'], OHE.T)[0], reverse= True)[1])

(array([13], dtype=int64),)

In [8]:
# Let's check what is the name of column of OHE where the correlation is higher. The index is one unit below to the
# number obtained above, because the correlation of Total series with itself was excluded
OHE.columns[np.where(np.corrcoef(pokemon['Total'], OHE.T)[0] == sorted(np.corrcoef(pokemon['Total'], OHE.T)[0], reverse= True)[1])[0][0]-1]

# From this analysis, it seems that Dragon type has the highest correlation with Total series. However, the value is not
# that high. In other words, the value is nearer to 0 than to 1, which means that the correlation is not strong.

'Dragon'

In [9]:
# Let's check the number of occurrences of typoes 'Dragon' in our dataset
OHE[OHE.columns[np.where(np.corrcoef(pokemon['Total'], OHE.T)[0] == sorted(np.corrcoef(pokemon['Total'], OHE.T)[0], reverse= True)[1])[0][0]-1]
].sum()

50

In [10]:
# Let's concatenate the slices of DataFrames where Type 1 is Dragon and Type 2 is Dragon
dragon_type1 = pokemon[pokemon['Type 1'] == 'Dragon'].copy()
dragon_type2 = pokemon[pokemon['Type 2'] == 'Dragon'].copy()

# Let's check the content of concatenation
pd.concat([dragon_type1, dragon_type2], ignore_index= True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False
1,148,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,1,False
2,149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,1,False
3,334,Altaria,Dragon,Flying,490,75,70,90,70,105,80,3,False
4,334,AltariaMega Altaria,Dragon,Fairy,590,75,110,110,110,105,80,3,False
5,371,Bagon,Dragon,NaN,300,45,75,60,40,30,50,3,False
6,372,Shelgon,Dragon,NaN,420,65,95,100,60,50,50,3,False
7,373,Salamence,Dragon,Flying,600,95,135,80,110,80,100,3,False
8,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,False
9,380,Latias,Dragon,Psychic,600,80,80,90,110,130,110,3,True
10,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True
11,381,Latios,Dragon,Psychic,600,80,90,80,130,110,110,3,True
12,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True
13,384,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True
14,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
15,443,Gible,Dragon,Ground,300,58,70,45,40,45,42,4,False
16,444,Gabite,Dragon,Ground,410,68,90,65,50,55,82,4,False
17,445,Garchomp,Dragon,Ground,600,108,130,95,80,85,102,4,False
18,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,False
19,610,Axew,Dragon,NaN,320,46,87,60,30,40,57,5,False
20,611,Fraxure,Dragon,NaN,410,66,117,70,40,50,67,5,False
21,612,Haxorus,Dragon,NaN,540,76,147,90,60,70,97,5,False
22,621,Druddigon,Dragon,NaN,485,77,120,90,60,90,48,5,False
23,643,Reshiram,Dragon,Fire,680,100,120,100,150,120,90,5,True
24,644,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True
25,646,Kyurem,Dragon,Ice,660,125,130,90,130,90,95,5,True
26,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,True
27,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,True
28,704,Goomy,Dragon,NaN,300,45,50,35,55,75,40,6,False
29,705,Sliggoo,Dragon,NaN,452,68,75,53,83,113,60,6,False
30,706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False
31,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
32,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
33,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False
34,230,Kingdra,Water,Dragon,540,75,95,95,95,95,85,2,False
35,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
36,329,Vibrava,Ground,Dragon,340,50,70,50,50,50,70,3,False
37,330,Flygon,Ground,Dragon,520,80,100,80,80,80,100,3,False
38,483,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True
39,484,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True
40,487,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True
41,487,GiratinaOrigin Forme,Ghost,Dragon,680,150,120,100,120,100,90,4,True
42,633,Deino,Dark,Dragon,300,52,65,50,45,50,38,5,False
43,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
44,635,Hydreigon,Dark,Dragon,600,92,105,90,125,90,98,5,False
45,691,Dragalge,Poison,Dragon,494,65,75,90,97,123,44,6,False
46,696,Tyrunt,Rock,Dragon,362,58,89,77,45,45,48,6,False
47,697,Tyrantrum,Rock,Dragon,521,82,121,119,69,59,71,6,False
48,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
49,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

In [11]:
# Let's check what is the average of Total column for the Type Dragon
pd.concat([dragon_type1, dragon_type2], ignore_index= True)['Total'].mean()

541.76

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [12]:
# your code here
# Import of itertools library
import itertools

# Let's add the combination of each type to the original columns (disticnt types isolated)
new_sets = set(itertools.combinations(sets,2))
sets.update(new_sets)

# Let's define a new DataFrame OHE2, filled in with zeros, where the columns will be the distinct Types plus the combination
# of each type and the rows will be the same as pokemon DataFrame
OHE2 = pd.DataFrame(data= np.zeros((len(pokemon), len(sets)), dtype= int), index= range(len(pokemon)), columns=sets)
OHE2.head()

,"(Ground, Rock)","(Ground, Ghost)","(Rock, Electric)","(Poison, Dragon)","(Normal, Steel)","(Ghost, Poison)","(Bug, Fire)","(Ghost, Steel)","(Water, Dragon)","(Fire, Steel)",...,"(Normal, Ice)","(Poison, Flying)","(Ghost, Ice)","(Psychic, Dragon)","(Fire, Ice)","(Dark, Fighting)","(Ghost, Fairy)","(Fairy, Electric)",Steel,"(Fairy, Dragon)"
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# Let's check the types (either combination or type 1) of DataFrame pokemon and insert 1's in each columns
for i in range(len(pokemon)):
    if pokemon['Type 2'].isna()[i]:
        OHE2[pokemon['Type 1'][i]][i] = 1
    if not pokemon['Type 2'].isna()[i]:
        try:
            OHE2[(pokemon['Type 1'][i], pokemon['Type 2'][i])][i] = 1
        except KeyError:
            OHE2[(pokemon['Type 2'][i], pokemon['Type 1'][i])][i] = 1

OHE2.head()

,"(Ground, Rock)","(Ground, Ghost)","(Rock, Electric)","(Poison, Dragon)","(Normal, Steel)","(Ghost, Poison)","(Bug, Fire)","(Ghost, Steel)","(Water, Dragon)","(Fire, Steel)",...,"(Normal, Ice)","(Poison, Flying)","(Ghost, Ice)","(Psychic, Dragon)","(Fire, Ice)","(Dark, Fighting)","(Ghost, Fairy)","(Fairy, Electric)",Steel,"(Fairy, Dragon)"
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# Let's drop the columns of OHE2 where there are no 1's, in order to avoid nan in correlation matrix
zero_cols = OHE2.sum(axis=0)
cols = zero_cols[zero_cols == 0].index
OHE2.drop(columns= cols, inplace= True)

In [15]:
# Let's use the Pearson product-moment correlation
# The first array passed to method corrcoef was the Total values and the second were the Types and their combination which
# exist in our dataset
sorted(np.corrcoef(pokemon['Total'], OHE2.T)[0], reverse= True)

[1.0,
 0.12873729749187376,
 0.12706588538942937,
 0.12042166197483092,
 0.10226382809208294,
 0.09265953222904695,
 0.08973648566203572,
 0.08764859525702805,
 0.08439819693333028,
 0.0843858598561649,
 0.07303336242197286,
 0.07244508818501245,
 0.0722661809284672,
 0.06780142982292107,
 0.06468180080194141,
 0.06289247084809056,
 0.06221014103831047,
 0.06107459747438907,
 0.06050601999192554,
 0.05906799420975364,
 0.05847146868724746,
 0.05751180799112245,
 0.05504567803561898,
 0.05485619674863898,
 0.05285949110204415,
 0.05241602659435066,
 0.04865918422871585,
 0.04865918422871584,
 0.04865918422871576,
 0.047978677561878395,
 0.047500004142005565,
 0.0457083096412469,
 0.045260929745017435,
 0.04515189579380708,
 0.042757435053777874,
 0.04258490463906249,
 0.041902318149535135,
 0.03896031330515859,
 0.038960313305158485,
 0.038583170739343,
 0.030360897829678952,
 0.029187663916807573,
 0.028003062116433275,
 0.0265276248226988,
 0.025052187528964365,
 0.025052187528964365,
 0.02505218752896436,
 0.024682001500403075,
 0.023829089238177847,
 0.021270352451502352,
 0.01990569283194211,
 0.01915043835402651,
 0.018657066852169186,
 0.01737991360154515,
 0.016660321486760294,
 0.014572431081752445,
 0.013248689179088625,
 0.011270166957407055,
 0.011026005876287003,
 0.010730362871157978,
 0.010592902050366575,
 0.010560273257614407,
 0.008822377297885218,
 0.008308759866728825,
 0.00830875986672882,
 0.006770843993674508,
 0.005968061965180425,
 0.0043826896594440345,
 0.0042121072069990035,
 0.0033591949447738137,
 0.0026714557732075692,
 0.002671455773207569,
 0.00250628268254867,
 0.0020450886517052085,
 0.001445190829212906,
 0.0012099324897020603,
 0.0010299475888800598,
 0.0008004581580983185,
 0.0004592932532082628,
 -0.0011284847158342746,
 -0.0012105962995091308,
 -0.0017582786285771765,
 -0.002713777076011879,
 -0.003571295969484274,
 -0.004218582563318404,
 -0.005053738725321552,
 -0.005163814676821786,
 -0.007407432933193865,
 -0.007407432933193875,
 -0.008394363373334148,
 -0.008667218559036505,
 -0.011526198980845956,
 -0.01199322577527923,
 -0.012202180887846536,
 -0.012570144183349893,
 -0.012846138037504413,
 -0.014658034588357757,
 -0.015910768831362485,
 -0.016537135952864847,
 -0.016745924993365635,
 -0.017368850540013168,
 -0.017581081155368793,
 -0.020755617175083233,
 -0.02092170580338137,
 -0.021410106187349193,
 -0.022828685028302972,
 -0.02300959620838924,
 -0.02300959620838926,
 -0.023651256591113425,
 -0.0239339974464316,
 -0.024254630583719728,
 -0.024374284001312994,
 -0.024445744803766715,
 -0.02678303075525521,
 -0.027627589068942415,
 -0.03358937856020528,
 -0.034785500575304266,
 -0.03635853855594631,
 -0.03705370698499122,
 -0.03762482904344434,
 -0.041800609853460076,
 -0.04274384044816945,
 -0.045256804002060794,
 -0.04901476461650579,
 -0.05026618776693543,
 -0.05362958412916551,
 -0.05454595231729003,
 -0.05875265075515327,
 -0.0640852666277969,
 -0.06437955128158183,
 -0.06952462038550783,
 -0.09262583547839039,
 -0.09494363691798592,
 -0.17869896013466757]

In [16]:
# Let's check what is the index of highest correlation value after the unity
np.where(np.corrcoef(pokemon['Total'], OHE2.T)[0] == sorted(np.corrcoef(pokemon['Total'], OHE2.T)[0], reverse= True)[1])[0][0]

89

In [17]:
# Let's check what is the name of column of OHE2 where the correlation is higher. The index is one unit below to the
# number obtained above, because the correlation of Total series with itself was excluded
OHE2.columns[np.where(np.corrcoef(pokemon['Total'], OHE2.T)[0] == sorted(np.corrcoef(pokemon['Total'], OHE2.T)[0], reverse= True)[1])[0][0]-1]

('Dragon', 'Ice')

In [18]:
# Let's check the number of occurrences of typoes 'Dragon' and 'Ice' in our dataset
OHE2[OHE2.columns[np.where(np.corrcoef(pokemon['Total'], OHE2.T)[0] == sorted(np.corrcoef(pokemon['Total'], OHE2.T)[0], reverse= True)[1])[0][0]-1]].sum()

3

In [20]:
# Let's check if the type Dragon appears always on type 1
pokemon[pokemon['Type 1'] == 'Dragon'].loc[pokemon['Type 2'] == 'Ice']

#Yes, it does!

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
710,646,Kyurem,Dragon,Ice,660,125,130,90,130,90,95,5,True
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,True
712,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,True

In [21]:
# Let's check what is the average of Total column for this combination of types
pokemon[pokemon['Type 1'] == 'Dragon'].loc[pokemon['Type 2'] == 'Ice']['Total'].mean()

686.6666666666666