# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [178]:
# import libraries
import numpy as np
import pandas as pd

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [179]:
# import dataset
pokemon = pd.read_csv('pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [180]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [181]:
# your code here
type1 = pokemon['Type 1'].unique()
type2 = pokemon['Type 2'].dropna().unique()
dist_val = pd.unique(pd.concat([pokemon['Type 1'], pokemon['Type 2']]).dropna())

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [195]:
# your code here

pokemon.columns
pokemon['Name'] = pokemon['Name'].str.replace("VenusaurMega Venusaur","Mega Venusaur")
pokemon['Name'] = pokemon['Name'].str.replace("CharizardMega Charizard X","Mega Charizard Charizard X")
pokemon['Name'] = pokemon['Name'].str.replace("CharizardMega Charizard Y","Mega Charizard Charizard Y")
# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire-nan
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448,Fire-nan
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire-Flying
7,6,Mega Charizard Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire-Dragon
8,6,Mega Charizard Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462,Water-nan

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [183]:
# your code here
pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [184]:
# your code here
max_ad_index = pokemon['A/D Ratio'].idxmax()
max_ad_pokemon = pokemon.loc[max_ad_index, 'Name']

pokemon.loc[pokemon['Name'] == max_ad_pokemon]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [185]:
min_ad_index = pokemon['A/D Ratio'].idxmin()
min_ad_pokemon = pokemon.loc[min_ad_index, 'Name']

pokemon.loc[pokemon['Name'] == min_ad_pokemon]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [227]:
# your code here

#valid all values
# combo type ) type1+type2
pokemon['Type 2'].fillna(value='Unknown', inplace=True)   
    
def rule(val1,val2):
    c=0
    if val1 != 'Unknown' and val2 != 'Unknown':
        c = val1+"-"+val2
    elif val1 != 'Unknown' and val2 == 'Unknown':
        c = val1
        
    return (c)

pokemon['Combo Type'] = pokemon.apply(lambda row: rule(row['Type 1'], row['Type 2']), axis=1)
pokemon.head()

,level_0,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,4,4,Charmander,Fire,Unknown,309,39,52,43,60,50,65,1,False,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [219]:
top5 = pokemon.sort_values(by='A/D Ratio', ascending=False)
top5.head(5)

,level_0,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,429,429,386,DeoxysAttack Forme,Psychic,Unknown,600,50,180,20,180,20,150,3,True,9.000,Psychic-Unknown
347,347,347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,19,19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,453,453,408,Cranidos,Rock,Unknown,350,67,125,40,30,30,58,4,False,3.125,Rock-Unknown
348,348,348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [220]:
# HELP


combo_type_counts = pokemon.groupby(['Combo Type']).agg({'Combo Type': 'count'})

#sorted_combo_type_counts = combo_type_counts.sort_values(by='Combo Type', ascending=False)

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [221]:
# your code here
mean_combo_type_scores = round(pokemon.groupby('Combo Type').mean())

# Display the resulting DataFrame
mean_combo_type_scores

,level_0,index,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,,,
Bug-Electric,656.0,656.0,596.0,396.0,60.0,62.0,55.0,77.0,55.0,86.0,5.0,0.0,1.0
Bug-Fighting,232.0,232.0,214.0,550.0,80.0,155.0,95.0,40.0,100.0,80.0,2.0,0.0,2.0
Bug-Fire,698.0,698.0,636.0,455.0,70.0,72.0,60.0,92.0,80.0,80.0,5.0,0.0,1.0
Bug-Flying,315.0,315.0,286.0,420.0,63.0,70.0,62.0,73.0,69.0,83.0,3.0,0.0,1.0
Bug-Ghost,316.0,316.0,292.0,236.0,1.0,90.0,45.0,30.0,30.0,40.0,3.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Water-Poison,128.0,128.0,119.0,427.0,62.0,68.0,58.0,62.0,92.0,85.0,1.0,0.0,1.0
Water-Psychic,120.0,120.0,112.0,481.0,87.0,73.0,104.0,94.0,79.0,44.0,1.0,0.0,1.0
Water-Rock,474.0,474.0,430.0,429.0,71.0,83.0,113.0,62.0,65.0,36.0,4.0,0.0,1.0
Water-Steel,440.0,440.0,395.0,530.0,84.0,86.0,88.0,111.0,101.0,60.0,4.0,0.0,1.0
Water-Unknown,334.0,334.0,303.0,414.0,67.0,72.0,69.0,73.0,65.0,68.0,3.0,0.0,1.0