# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [110]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [111]:
# your code here
orders = pd.read_csv('Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

## ---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [112]:
orders['CustomerID'].unique()

array([17850, 13047, 12583, ..., 13298, 14569, 12713])

In [113]:
# your code here
# group_by customers, sum the amount_spent per customer 
orders['Total_expenses'] = orders.groupby(orders['CustomerID'])['amount_spent'].transform('sum')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Total_expenses
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21

In [114]:
# 0,0.75 = 'Normal Custumers'
# 0.75, 0.95 = 'Preferred Custumers'
# 0.95, 1 = 'VIP'

In [115]:
# bin the amount_spent in 4 quartiles
labels = ['Normal Custumers', 'Preferred Custumers', 'VIP']
orders['Customer Type'] = pd.qcut(orders['Total_expenses'], q =  [0, .75, .95, 1.], labels=labels )
orders#.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Total_expenses,Customer Type
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21,Normal Custumers
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Normal Custumers
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21,Normal Custumers
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Normal Custumers
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Normal Custumers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,862.81,Normal Custumers
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,862.81,Normal Custumers
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,862.81,Normal Custumers
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,862.81,Normal Custumers
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,862.81,Normal Custumers

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [116]:
# your code here

# Create a df with only VIP
condition = orders['Customer Type'] == 'VIP'
vip = orders[condition]

# Identify the country with most VIP
orders1 = vip.groupby('Country').agg({'Customer Type': 'count'}).sort_values(
    'Customer Type', ascending=False)
orders1

                Customer Type
Country
United Kingdom           7933
EIRE                     7077
Netherlands              2080
Australia                 716

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [123]:
# your code here

# Create a df with VIP and preferred customers
orders['vip_or_pref'] = (orders['Customer Type'] == 'VIP') | (orders['Customer Type'] == 'Preferred Customers')
# vip_pref = orders[condition]
# vip_pref
# Identify the country with most types combined
# orders2 = vip_pref.groupby(['Country', 'Customer Type']).agg({'InvoiceNo' : 'count'}).sort_values(
#     'Customer Type', ascending=False)
# orders2
orders[orders['vip_or_pref'] == True]
orders2 = orders.groupby('Country').agg({'CustomerID': 'count'}).sort_values('CustomerID', ascending=False)
orders2

                      CustomerID
Country
United Kingdom            354345
Germany                     9042
France                      8342
EIRE                        7238
Spain                       2485
Netherlands                 2363
Belgium                     2031
Switzerland                 1842
Portugal                    1462
Australia                   1185
Norway                      1072
Italy                        758
Channel Islands              748
Finland                      685
Cyprus                       614
Sweden                       451
Austria                      398
Denmark                      380
Poland                       330
Japan                        321
Israel                       248
Unspecified                  244
Singapore                    222
Iceland                      182
USA                          179
Canada                       151
Greece                       145
Malta                        112
United Arab Emirates          68
European Community            60
RSA                           58
Lebanon                       45
Lithuania                     35
Brazil                        32
Czech Republic                25
Bahrain                       17
Saudi Arabia                   9

In [124]:
print('Done')

Done