# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [31]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [32]:
orders = pd.read_csv('/Users/jossuebangos/Documents/GitHub/lab-dataframe-calculations/your-code/Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [33]:
#SubProblem 1 Groupby Customer ID, sum a specific column 

total_spent = orders.groupby(['CustomerID','Country']).sum()


vip_q= total_spent.amount_spent.quantile(0.95)
vip_q
pref_q1,pref_q2 = total_spent.amount_spent.quantile([0.75,0.95])
print(pref_q1,pref_q2)
#total_spent.head()

#vip_customers = df[(df['colum_name'] >= value)]
#vip = total_spent[(total_spent['amount_spent'] >= vip_q)]
#print(vip.CustomerID)
#vip_list = list(vip.CustomerID)

pref = total_spent[(total_spent['amount_spent'] >= pref_q1) & (total_spent['amount_spent'] <= pref_q2)]
#print(pref.CustomerID)
#pref_list = list(pref.CustomerID)

#label_customer = lambda x: 'VIP' if x in vip_list else 'Preferred' if x in pref_list else 'Not Relevant'

#Apply each lambda to my original DF Orders 
#pokemon_df['Combo Type'] = pokemon_df.apply(lambda x:l_combo(x.Type1, x.Type2), axis = 1)

#orders['Customer Type'] = orders.apply(lambda x: label_customer(x.CustomerID), axis = 1)
#orders.head(10)

1661.1950000000002 5774.277999999997

In [34]:
total_spent = orders.groupby(['CustomerID','Country']).sum()

VIP = total_spent['amount_spent'].quantile(0.95)
PC = total_spent['amount_spent'].quantile([0.95, 0.75])

total_spent.loc[total_spent['amount_spent'] > total_spent['amount_spent'].quantile(0.75), 'Costumer Label'] = 'PC'
total_spent.loc[total_spent['amount_spent'] > total_spent['amount_spent'].quantile(0.95), 'Costumer Label'] = 'VIP'
total_spent

,,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent,Costumer Label
CustomerID,Country,,,,,,,,,,
12346,United Kingdom,61619,541431,2011,1,2,10,74215,1.04,77183.60,VIP
12347,Iceland,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00,PC
12348,Finland,2807120,16869685,62324,257,111,472,2341,178.71,1797.24,PC
12349,Italy,35444274,42165457,146803,803,73,657,631,605.10,1757.55,PC
12350,Norway,1365627,9231629,34187,34,51,272,197,65.30,334.40,NaN
...,...,...,...,...,...,...,...,...,...,...,...
18280,United Kingdom,1110495,5457120,20110,30,10,90,45,47.65,180.60,NaN
18281,United Kingdom,1560699,3895248,14077,42,49,70,54,39.36,80.82,NaN
18282,United Kingdom,4642134,6838540,24132,116,60,146,103,62.39,178.05,NaN
18283,United Kingdom,233950830,425704048,1520316,5503,2489,10346,1397,1220.93,2094.88,PC
18287,United Kingdom,21958901,39474556,140770,555,332,697,1586,104.55,1837.28,PC

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [38]:
# your code here
#country_orders = orders.groupby(['Country','Customer Type']).CustomerID.unique().reset_index()
#print(country_orders['CustomerID'].count())

condition = total_spent['Costumer Label'] == 'VIP'
VIP_dataframe = total_spent[condition]

organized1 = VIP_dataframe.groupby(['Country']).count()
sort = organized1.sort_values('Costumer Label', ascending = False)
sort

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent,Costumer Label
Country,,,,,,,,,,
United Kingdom,178,178,178,178,178,178,178,178,178,178
Germany,11,11,11,11,11,11,11,11,11,11
France,9,9,9,9,9,9,9,9,9,9
Switzerland,3,3,3,3,3,3,3,3,3,3
Spain,2,2,2,2,2,2,2,2,2,2
Portugal,2,2,2,2,2,2,2,2,2,2
Japan,2,2,2,2,2,2,2,2,2,2
EIRE,2,2,2,2,2,2,2,2,2,2
Finland,1,1,1,1,1,1,1,1,1,1
Channel Islands,1,1,1,1,1,1,1,1,1,1
Netherlands,1,1,1,1,1,1,1,1,1,1
Norway,1,1,1,1,1,1,1,1,1,1
Singapore,1,1,1,1,1,1,1,1,1,1
Denmark,1,1,1,1,1,1,1,1,1,1
Sweden,1,1,1,1,1,1,1,1,1,1
Cyprus,1,1,1,1,1,1,1,1,1,1
Australia,1,1,1,1,1,1,1,1,1,1

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [39]:
# your code here


condition2 = total_spent['Costumer Label'] == 'PC'

pc_dataframe = total_spent[condition2]

organized2 = pc_dataframe.groupby(['Country']).count()
sort2 = organized2.sort_values('Costumer Label', ascending = False)
sort2

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent,Costumer Label
Country,,,,,,,,,,
United Kingdom,756,756,756,756,756,756,756,756,756,756
Germany,28,28,28,28,28,28,28,28,28,28
France,20,20,20,20,20,20,20,20,20,20
Belgium,11,11,11,11,11,11,11,11,11,11
Switzerland,6,6,6,6,6,6,6,6,6,6
Norway,6,6,6,6,6,6,6,6,6,6
Spain,5,5,5,5,5,5,5,5,5,5
Portugal,5,5,5,5,5,5,5,5,5,5
Italy,5,5,5,5,5,5,5,5,5,5
Finland,4,4,4,4,4,4,4,4,4,4
Australia,3,3,3,3,3,3,3,3,3,3
Channel Islands,3,3,3,3,3,3,3,3,3,3
Israel,2,2,2,2,2,2,2,2,2,2
Japan,2,2,2,2,2,2,2,2,2,2
Denmark,2,2,2,2,2,2,2,2,2,2
Cyprus,2,2,2,2,2,2,2,2,2,2
Greece,1,1,1,1,1,1,1,1,1,1
Austria,1,1,1,1,1,1,1,1,1,1
EIRE,1,1,1,1,1,1,1,1,1,1
Lebanon,1,1,1,1,1,1,1,1,1,1
Malta,1,1,1,1,1,1,1,1,1,1
Poland,1,1,1,1,1,1,1,1,1,1
Sweden,1,1,1,1,1,1,1,1,1,1
Canada,1,1,1,1,1,1,1,1,1,1
Iceland,1,1,1,1,1,1,1,1,1,1

In [50]:
# total = sort + sort2
# total.sort_values('Costumer Label', ascending = False)

new_df = total_spent.dropna()
org3 = new_df.groupby(['Country']).count()
sort3 = org3.sort_values('Costumer Label', ascending = False)
sort3

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent,Costumer Label
Country,,,,,,,,,,
United Kingdom,934,934,934,934,934,934,934,934,934,934
Germany,39,39,39,39,39,39,39,39,39,39
France,29,29,29,29,29,29,29,29,29,29
Belgium,11,11,11,11,11,11,11,11,11,11
Switzerland,9,9,9,9,9,9,9,9,9,9
Spain,7,7,7,7,7,7,7,7,7,7
Portugal,7,7,7,7,7,7,7,7,7,7
Norway,7,7,7,7,7,7,7,7,7,7
Italy,5,5,5,5,5,5,5,5,5,5
Finland,5,5,5,5,5,5,5,5,5,5
Japan,4,4,4,4,4,4,4,4,4,4
Australia,4,4,4,4,4,4,4,4,4,4
Channel Islands,4,4,4,4,4,4,4,4,4,4
EIRE,3,3,3,3,3,3,3,3,3,3
Denmark,3,3,3,3,3,3,3,3,3,3
Cyprus,3,3,3,3,3,3,3,3,3,3
Sweden,2,2,2,2,2,2,2,2,2,2
Israel,2,2,2,2,2,2,2,2,2,2
Iceland,1,1,1,1,1,1,1,1,1,1
Austria,1,1,1,1,1,1,1,1,1,1
Greece,1,1,1,1,1,1,1,1,1,1
Lebanon,1,1,1,1,1,1,1,1,1,1
Malta,1,1,1,1,1,1,1,1,1,1
Netherlands,1,1,1,1,1,1,1,1,1,1
Poland,1,1,1,1,1,1,1,1,1,1
Singapore,1,1,1,1,1,1,1,1,1,1
Canada,1,1,1,1,1,1,1,1,1,1