# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [3]:
# import required libraries
import numpy as np
import pandas as pd
import os

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [15]:
# your code here

#os.listdir()

# Dataset Order was a zip archieve, and i needed to be transformed into a dataframe.
orders = pd.read_csv('Orders.zip')
orders.head(10) #head

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [37]:
# your code here

#1
#need to find the "key" or the id to sum the amount spend and put it together and then have the answer about unique customers.

#amaount_by_customer = orders.groupby(["CustomerID"]).agg({"amount_spent": 'sum'}) #.agg - Aggregate these functions over the rows
#amaount_by_customer.head()

#2 - In statistics and probability quantiles are cut points dividing the range of a probability distribution into continuous intervals with equal probabilities, 
#or dividing the observations in a sample in the same way.

#cut_point95 = unique_spent["amount_spent"].quantile(0.95)
#cut_point75 = unique_spent["amount_spent"].quantile(0.75)

#3
#label = ['','Preffered','VIP'] #needed to put another label for the bin or an error were given: "Bin labels must be one fewer than the number of bin edges"

#amaount_by_customer['label'] = pd.qcut(amaount_by_customer['amount_spent'], cut_points, labels = label)

#.qcut Discretize variable into equal-sized buckets based on rank or based on sample quantiles. 
#For example 1000 values for 10 quantiles would produce a Categorical object indicating quantile membership for each data point.

#to understand, but still not much...

clabels = ['Cheap', 'Average', 'Preferred', 'VIP']
quantiles = [.25,.50,.75,.95, 1]
binning = pd.qcut(orders["amount_spent"],quantiles, labels= clabels)

orders['c_type'] = binning

orders[['amount_spent','c_type']].head(10)

   amount_spent     c_type
0         15.30    Average
1         20.34  Preferred
2         22.00  Preferred
3         20.34  Preferred
4         20.34  Preferred
5         15.30    Average
6         25.50  Preferred
7         11.10      Cheap
8         11.10      Cheap
9         54.08  Preferred

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [42]:
# your code here

#the only way i found was starnting all over again and merged with the data set above the "country" collumn:

#amaount_by_customer_wcountry = pd.merge(amaount_by_customer, orders[['CustomerID','Country']] , on='CustomerID')
#customer_vip_sum= amaount_by_customer_wcountry.groupby(['Country','label'], as_index=False).agg({'CustomerID':'count'})
#customer_vip_sum.head() #Length of values does not match length of index

VIP_countrie = orders.loc[orders['c_type'] == 'VIP', ['c_type','Country']].groupby("Country").count()
#VIP_countrie
VIP_countrie.sort_values(by='c_type').tail(1)

                c_type
Country
United Kingdom   14739

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [48]:
# your code here

#First i will find the countries with most preferred classification:
    
preferred_countries = orders.loc[orders['customer_type'] == 'Preferred', ['customer_type','Country']].groupby("Country").count()

preferred_countries = preferred_countries.rename(columns ={'customer_type' : 'preferred_customers'}) 
#changed the name to organize in the dataset behind:

preferred_countries

VIP_countries = VIP_countries.rename(columns ={'customer_type' : 'VIP_customers'})
#changed the name to organize in the dataset behind (could do it in the previous questions, but i didnt)

countries_combo = pd.concat([VIP_countries, preferred_countries], axis=1)
countries_combo

                      VIP_customers  preferred_customers
Australia                     571.0                  272
Austria                        27.0                   91
Bahrain                         2.0                    9
Belgium                        39.0                  542
Brazil                          3.0                   12
Canada                          3.0                   30
Channel Islands                31.0                  268
Cyprus                         24.0                  170
Czech Republic                  1.0                   19
Denmark                        62.0                  155
EIRE                          715.0                 1947
Finland                        62.0                  215
France                        393.0                 2343
Germany                       511.0                 2382
Greece                         20.0                   28
Iceland                         7.0                   60
Israel                         28.0                   90
Italy                          19.0                  247
Japan                         172.0                   69
Lebanon                         6.0                   21
Lithuania                       7.0                   20
Malta                           4.0                   26
Netherlands                  1468.0                  459
Norway                        114.0                  389
Poland                         10.0                  102
Portugal                       41.0                  405
Singapore                      41.0                  113
Spain                         129.0                  470
Sweden                        177.0                   93
Switzerland                   179.0                  592
USA                             4.0                   56
United Arab Emirates            4.0                   32
United Kingdom              14739.0                58205
Unspecified                     2.0                   34
European Community              NaN                   23
RSA                             NaN                   18

In [49]:
countries_combo['Best Country'] = countries_combo.sum(axis=1)

countries_combo.sort_values(by='Best Country').tail(1)

                VIP_customers  preferred_customers  Best Country
United Kingdom        14739.0                58205       72944.0

In [ ]:
#i couldnÂ´t do it this exercises (challenges 2 and 3 especialy) by myself. needed a lot of help from my colleagues.