# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [4]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [5]:
# your code here
orders = pd.read_csv('Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [35]:
# your code here
#Sub Problem 1:
amount_spent_sum = orders.groupby(['CustomerID']).sum()
amount_spent_sum = amount_spent_sum.sort_values('amount_spent')
#Sub Problem 2:

Preferred = np.quantile(amount_spent_sum['amount_spent'],0.75)
VIP = np.quantile(amount_spent_sum['amount_spent'],0.95)
                       
#Sub Problem 3

amount_spent_sum.loc[amount_spent_sum['amount_spent'] >= Preferred, 'CustomerType'] = 'Preferred'
amount_spent_sum.loc[amount_spent_sum['amount_spent'] >= VIP, 'CustomerType' ] = 'VIP'
amount_spent_sum

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent,CustomerType
CustomerID,,,,,,,,,,
13256,502122,578841,2011,11,5,15,12540,0.00,0.00,NaN
16738,90155,543986,2011,2,2,9,3,1.25,3.75,NaN
14792,766395,1140006,4022,20,10,18,2,6.20,6.20,NaN
16454,802063,1142747,4022,20,7,27,3,3.95,6.90,NaN
17956,144967,548862,2011,4,1,13,1,12.75,12.75,NaN
...,...,...,...,...,...,...,...,...,...,...
14911,1737367680,3196374868,11416155,46220,18930,68148,80515,26185.72,143825.06,VIP
16446,929130,1688629,6033,22,11,27,80997,4.98,168472.50,VIP
17450,92683919,188845149,677704,2292,842,4140,69993,1143.32,194550.79,VIP
18102,138022684,243297801,866723,3746,1261,5587,64124,1940.92,259657.30,VIP
14646,544561120,1163267611,4182810,14191,6552,24488,197491,5176.09,280206.02,VIP

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [36]:
# your code here
amount_spent_sum.loc[amount_spent_sum['CustomerType'] == 'VIP', 'Country'] = orders['Country']
VIP_count = amount_spent_sum[amount_spent_sum['CustomerType'] == 'VIP']['Country'].value_counts()
VIP_count

United Kingdom    191
Germany             6
Norway              6
France              6
EIRE                3
Spain               2
Portugal            2
Japan               1
Name: Country, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [37]:
# your code here
amount_spent_sum.loc[amount_spent_sum['CustomerType'] == 'Preferred', 'Country'] = orders['Country']
Preferred_count = amount_spent_sum[amount_spent_sum['CustomerType'] == 'Preferred']['Country'].value_counts()
Preferred_count

United Kingdom     780
Norway              18
Germany             16
Spain               13
France              13
EIRE                 9
Denmark              8
Japan                5
Portugal             4
Channel Islands      2
Name: Country, dtype: int64

In [39]:
VIP_count.add(Preferred_count, fill_value=0)

Channel Islands      2.0
Denmark              8.0
EIRE                12.0
France              19.0
Germany             22.0
Japan                6.0
Norway              24.0
Portugal             6.0
Spain               15.0
United Kingdom     971.0
Name: Country, dtype: float64