# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv("orders.csv")
print(orders.shape)
orders.head(10)

(397924, 14)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
sales_by_cust = orders.groupby(['CustomerID', 'Country']).agg({'amount_spent':'sum'}).reset_index()
display(sales_by_cust)

labels = ["Standard", "Preferred", "VIP"]
cust_rated = pd.qcut(sales_by_cust['amount_spent'], 3, labels = labels)
cust_rated.columns = ['Customer ID', 'Country', 'Rating']
cust_rated

sales_by_cust_rated = sales_by_cust.merge(pd.DataFrame(cust_rated), left_index=True, right_index=True)
sales_by_cust_rated.columns = ['CustomerID', 'Country', 'Total amount spent', 'Rating']
display(sales_by_cust_rated)

      CustomerID         Country  amount_spent
0          12346  United Kingdom      77183.60
1          12347         Iceland       4310.00
2          12348         Finland       1797.24
3          12349           Italy       1757.55
4          12350          Norway        334.40
...          ...             ...           ...
4342       18280  United Kingdom        180.60
4343       18281  United Kingdom         80.82
4344       18282  United Kingdom        178.05
4345       18283  United Kingdom       2094.88
4346       18287  United Kingdom       1837.28

[4347 rows x 3 columns]

      CustomerID         Country  Total amount spent    Rating
0          12346  United Kingdom            77183.60       VIP
1          12347         Iceland             4310.00       VIP
2          12348         Finland             1797.24       VIP
3          12349           Italy             1757.55       VIP
4          12350          Norway              334.40  Standard
...          ...             ...                 ...       ...
4342       18280  United Kingdom              180.60  Standard
4343       18281  United Kingdom               80.82  Standard
4344       18282  United Kingdom              178.05  Standard
4345       18283  United Kingdom             2094.88       VIP
4346       18287  United Kingdom             1837.28       VIP

[4347 rows x 4 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [4]:
# your code here
sales_by_cust_VIP = sales_by_cust_rated[sales_by_cust_rated['Rating']=='VIP']
sales_by_country_VIP = sales_by_cust_VIP.groupby(['Country']).agg({'Rating':'count'}).reset_index()
sales_by_country_VIP.sort_values('Rating', ascending=False)

               Country  Rating
29      United Kingdom    1259
11             Germany      44
10              France      34
2              Belgium      14
27         Switzerland      13
4      Channel Islands       8
25               Spain       8
23            Portugal       7
21              Norway       7
9              Finland       6
16               Japan       5
0            Australia       5
15               Italy       5
6              Denmark       5
20         Netherlands       3
26              Sweden       3
5               Cyprus       3
7                 EIRE       3
1              Austria       3
22              Poland       2
14              Israel       2
28                 USA       2
18           Lithuania       1
19               Malta       1
17             Lebanon       1
13             Iceland       1
8   European Community       1
24           Singapore       1
3               Canada       1
12              Greece       1

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [5]:
# your code here
sales_by_cust_VIP_Pref = sales_by_cust_rated[(sales_by_cust_rated['Rating']=='VIP') | (sales_by_cust_rated['Rating']=='Preferred')]
sales_by_country_VIP_Pref = sales_by_cust_VIP_Pref.groupby(['Country']).agg({'Rating':'count'}).reset_index()
sales_by_country_VIP_Pref.sort_values('Rating', ascending=False)

                 Country  Rating
34        United Kingdom    2556
14               Germany      77
13                France      67
29                 Spain      22
3                Belgium      21
31           Switzerland      21
26              Portugal      17
18                 Italy      11
12               Finland      10
6        Channel Islands       8
24                Norway       8
1                Austria       8
0              Australia       7
9                Denmark       7
7                 Cyprus       7
19                 Japan       6
23           Netherlands       6
30                Sweden       6
35           Unspecified       4
25                Poland       4
15                Greece       3
10                  EIRE       3
5                 Canada       2
17                Israel       2
33  United Arab Emirates       2
32                   USA       2
22                 Malta       2
2                Bahrain       1
4                 Brazil       1
11    European Community       1
28             Singapore       1
27                   RSA       1
21             Lithuania       1
20               Lebanon       1
16               Iceland       1
8         Czech Republic       1