# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [25]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [26]:
# your code here
orders=pd.read_csv('/Users/guillaumeaubert/Documents/Ironhack/Module1/Week2/Day3_Pandas/lab-dataframe-calculations/your-code/Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [27]:
# your code here

#create a serie of the amount spent by customer
amount_customer=orders.groupby(by = ['CustomerID'])['amount_spent'].sum()
#transform this serie into a df
customer_segmentation=amount_customer.to_frame()

#create a list labels and then use the qcut to insert a column in the df amount_customer
quantile = ['low spending', 'medium spending','Preferred','VIP']
customer_segmentation['customer category']= pd.qcut(customer_segmentation['amount_spent'],4,labels=quantile).to_frame()

#select customer preferred and VIP customer

VIP_customers=customer_segmentation[customer_segmentation['customer category'] == 'VIP']
customer_segmentation

            amount_spent customer category
CustomerID
12346           77183.60               VIP
12347            4310.00               VIP
12348            1797.24               VIP
12349            1757.55               VIP
12350             334.40   medium spending
...                  ...               ...
18280             180.60      low spending
18281              80.82      low spending
18282             178.05      low spending
18283            2094.88               VIP
18287            1837.28               VIP

[4339 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [56]:
# your code here
customers=pd.DataFrame(orders.groupby(by=['CustomerID','Country'])['amount_spent'].sum())
quantile = ['low spending', 'medium spending','Preferred','VIP']
customers['customer category']= pd.qcut(customers['amount_spent'],4,labels=quantile)
VIP_customers=customers[customers['customer category'] == 'VIP']

VIP_customers_count=VIP_customers.groupby(by=['Country'])['customer category'].count()
VIP_customers_count.sort_values(ascending=False)

Country
United Kingdom     934
Germany             39
France              29
Belgium             11
Switzerland          9
Spain                7
Portugal             7
Norway               7
Italy                5
Finland              5
Channel Islands      4
Australia            4
Japan                4
EIRE                 3
Denmark              3
Cyprus               3
Sweden               2
Israel               2
Lebanon              1
Iceland              1
Greece               1
Malta                1
Netherlands          1
Poland               1
Singapore            1
Canada               1
Austria              1
Name: customer category, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [55]:
# your code here
customers=pd.DataFrame(orders.groupby(by=['CustomerID','Country'])['amount_spent'].sum())
quantile = ['low spending', 'medium spending','Preferred','VIP']
customers['customer category']= pd.qcut(customers['amount_spent'],4,labels=quantile)
VIP_Preferred_customers=customers[(customers['customer category'] == 'VIP') | (customers['customer category'] == 'Preferred')]

VIP_Preferred_customers_count=VIP_customers.groupby(by=['Country'])['customer category'].count()
VIP_Preferred_customers_count.sort_values(ascending=False)

Country
United Kingdom          1910
Germany                   61
France                    50
Belgium                   18
Spain                     18
Switzerland               16
Portugal                  10
Italy                      8
Channel Islands            8
Norway                     7
Austria                    6
Denmark                    6
Finland                    6
Australia                  6
Japan                      5
Netherlands                4
Sweden                     4
Cyprus                     3
Greece                     3
Poland                     3
EIRE                       3
Malta                      2
Israel                     2
United Arab Emirates       2
USA                        2
Lithuania                  1
Brazil                     1
Canada                     1
European Community         1
Czech Republic             1
Singapore                  1
Lebanon                    1
RSA                        1
Iceland                    1
Unspecified                1
Name: customer category, dtype: int64