# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import dataset
pk = pd.read_csv('C:\\Users\\User\\Desktop\\IronHack\\LABS\\lab-dataframe-calculations\\your-code\\Pokemon.csv')
pk.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Print first 10 rows of `pokemon`.

In [3]:
# your code here
prt_pok =pk.head(10)
display(prt_pok)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
# your code here

t_1 =pk['Type 1'].unique()
t_2=pk['Type 2'].unique()

display(t_1)
display(t_2)

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [5]:
# your code here
pk["Name"] = pk["Name"].str.replace(r'^.*?Mega', 'Mega') #--> drops every character before Mega. Only keeps Mega
# # test transformed data
pk.head(10)

<ipython-input-5-26cf07dfeca7>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  pk["Name"] = pk["Name"].str.replace(r'^.*?Mega', 'Mega') #--> drops every character before Mega. Only keeps Mega

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [6]:
# your code here
pk['A/D Ratio'] = pk['Attack']/pk['Defense']
pk.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [7]:
#your code here

highestpk =pk['A/D Ratio'].max()

pk[pk['A/D Ratio']== highestpk]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [8]:
# your code here
lowestpk =pk['A/D Ratio'].min()

pk[pk['A/D Ratio']==lowestpk]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [22]:
# your code here

def union_types(row):
    if str(row['Type 2']) == 'nan':
        return str(row['Type 1'])
    else:
        return str(row['Type 1']) + ' - ' + str(row['Type 2'])

In [23]:
pk['Combo Type'] = pk.apply(union_types, axis=1)

pk.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass - Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass - Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass - Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass - Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [14]:
# your code here

top_5 = pk.sort_values('A/D Ratio', ascending= False)
top_5.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic - nan
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water - Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug - Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock - nan
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water - Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [15]:
# your code here
top5 = sorted(list(top_5['Combo Type'].unique()))
top5

['Bug - Electric',
 'Bug - Fighting',
 'Bug - Fire',
 'Bug - Flying',
 'Bug - Ghost',
 'Bug - Grass',
 'Bug - Ground',
 'Bug - Poison',
 'Bug - Rock',
 'Bug - Steel',
 'Bug - Water',
 'Bug - nan',
 'Dark - Dragon',
 'Dark - Fighting',
 'Dark - Fire',
 'Dark - Flying',
 'Dark - Ghost',
 'Dark - Ice',
 'Dark - Psychic',
 'Dark - Steel',
 'Dark - nan',
 'Dragon - Electric',
 'Dragon - Fairy',
 'Dragon - Fire',
 'Dragon - Flying',
 'Dragon - Ground',
 'Dragon - Ice',
 'Dragon - Psychic',
 'Dragon - nan',
 'Electric - Dragon',
 'Electric - Fairy',
 'Electric - Fire',
 'Electric - Flying',
 'Electric - Ghost',
 'Electric - Grass',
 'Electric - Ice',
 'Electric - Normal',
 'Electric - Steel',
 'Electric - Water',
 'Electric - nan',
 'Fairy - Flying',
 'Fairy - nan',
 'Fighting - Dark',
 'Fighting - Flying',
 'Fighting - Psychic',
 'Fighting - Steel',
 'Fighting - nan',
 'Fire - Dragon',
 'Fire - Fighting',
 'Fire - Flying',
 'Fire - Ground',
 'Fire - Normal',
 'Fire - Psychic',
 'Fire - Rock',
 'Fire - Steel',
 'Fire - Water',
 'Fire - nan',
 'Flying - Dragon',
 'Flying - nan',
 'Ghost - Dark',
 'Ghost - Dragon',
 'Ghost - Fire',
 'Ghost - Flying',
 'Ghost - Grass',
 'Ghost - Poison',
 'Ghost - nan',
 'Grass - Dark',
 'Grass - Dragon',
 'Grass - Fairy',
 'Grass - Fighting',
 'Grass - Flying',
 'Grass - Ground',
 'Grass - Ice',
 'Grass - Poison',
 'Grass - Psychic',
 'Grass - Steel',
 'Grass - nan',
 'Ground - Dark',
 'Ground - Dragon',
 'Ground - Electric',
 'Ground - Fire',
 'Ground - Flying',
 'Ground - Ghost',
 'Ground - Psychic',
 'Ground - Rock',
 'Ground - Steel',
 'Ground - nan',
 'Ice - Flying',
 'Ice - Ghost',
 'Ice - Ground',
 'Ice - Psychic',
 'Ice - Water',
 'Ice - nan',
 'Normal - Fairy',
 'Normal - Fighting',
 'Normal - Flying',
 'Normal - Grass',
 'Normal - Ground',
 'Normal - Psychic',
 'Normal - Water',
 'Normal - nan',
 'Poison - Bug',
 'Poison - Dark',
 'Poison - Dragon',
 'Poison - Fighting',
 'Poison - Flying',
 'Poison - Ground',
 'Poison - Water',
 'Poison - nan',
 'Psychic - Dark',
 'Psychic - Fairy',
 'Psychic - Fighting',
 'Psychic - Fire',
 'Psychic - Flying',
 'Psychic - Ghost',
 'Psychic - Grass',
 'Psychic - nan',
 'Rock - Bug',
 'Rock - Dark',
 'Rock - Dragon',
 'Rock - Fairy',
 'Rock - Fighting',
 'Rock - Flying',
 'Rock - Grass',
 'Rock - Ground',
 'Rock - Ice',
 'Rock - Psychic',
 'Rock - Steel',
 'Rock - Water',
 'Rock - nan',
 'Steel - Dragon',
 'Steel - Fairy',
 'Steel - Fighting',
 'Steel - Flying',
 'Steel - Ghost',
 'Steel - Ground',
 'Steel - Psychic',
 'Steel - Rock',
 'Steel - nan',
 'Water - Dark',
 'Water - Dragon',
 'Water - Electric',
 'Water - Fairy',
 'Water - Fighting',
 'Water - Flying',
 'Water - Ghost',
 'Water - Grass',
 'Water - Ground',
 'Water - Ice',
 'Water - Poison',
 'Water - Psychic',
 'Water - Rock',
 'Water - Steel',
 'Water - nan']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [17]:
# your code here

top_5.groupby('Combo Type').agg('mean').head()

#cant do because of  the other exercise that i didnt

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Bug - Electric,595.500000,395.5,60.0,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.0,1.111667
Bug - Fighting,214.000000,550.0,80.0,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.0,1.637681
Bug - Fire,636.500000,455.0,70.0,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.0,1.234266
Bug - Flying,286.285714,419.5,63.0,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.0,1.146274
Bug - Ghost,292.000000,236.0,1.0,90.000000,45.000000,30.000000,30.000000,40.000000,3.000000,0.0,2.000000