# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv("Orders.zip")
orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
# Sub Problem 1
spent_costumer = orders.groupby(["CustomerID"]).sum()
spent_costumer = spent_costumer[["amount_spent"]]
spent_costumer

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
...                  ...
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

In [4]:
# Sub Problem 2
vip_costumer = spent_costumer[spent_costumer.amount_spent > spent_costumer.amount_spent.quantile(.95)]
vip_costumer.head()

            amount_spent
CustomerID
12346           77183.60
12357            6207.67
12359            6372.58
12409           11072.67
12415          124914.53

In [5]:
preferred_costumer = spent_costumer[(spent_costumer.amount_spent.quantile(.95) > spent_costumer.amount_spent)
                                   & (spent_costumer.amount_spent > spent_costumer.amount_spent.quantile(.75))]
preferred_costumer.head()

            amount_spent
CustomerID
12347            4310.00
12348            1797.24
12349            1757.55
12352            2506.04
12356            2811.43

In [6]:
# Sub Problem 3
#vipstrue=[]
#for i in range(len(spent_costumer["amount_spent"])):
#    if (spent_costumer["amount_spent"][i]) > spent_costumer.amount_spent.quantile(.95):
#        vipstrue.append(True)
#    else:
#        vipstrue.append(False)

#vipstrue

spent_costumer ["VIP"] = [True if spent_costumer["amount_spent"].values[i] > spent_costumer.amount_spent.quantile(.95) else False for i in range(len(spent_costumer["amount_spent"]))]
spent_costumer
spent_costumer ["Preferred"] = [True if (spent_costumer["amount_spent"].values[i] > spent_costumer.amount_spent.quantile(.75) and spent_costumer["amount_spent"].values[i]<spent_costumer.amount_spent.quantile(.95)) else False for i in range(len(spent_costumer["amount_spent"]))]
spent_costumer.head(10)

            amount_spent    VIP  Preferred
CustomerID
12346           77183.60   True      False
12347            4310.00  False       True
12348            1797.24  False       True
12349            1757.55  False       True
12350             334.40  False      False
12352            2506.04  False       True
12353              89.00  False      False
12354            1079.40  False      False
12355             459.40  False      False
12356            2811.43  False       True

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [7]:
# your code here
countries = (orders[["CustomerID", "Country"]].drop_duplicates()).sort_values(by="CustomerID")
countries = countries.groupby(["CustomerID"]).sum()
spent_costumer["Country"]=countries["Country"]
spent_costumer
most_vip = spent_costumer.groupby(["Country"]).sum()
most_vip.nlargest(1,"VIP")

                amount_spent    VIP  Preferred
Country
United Kingdom   7308391.554  177.0      755.0

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [8]:
# your code here
most_pref_vip = spent_costumer.groupby(["Country"]).sum()
most_pref_vip["VIP-Preferred"] = most_pref_vip["VIP"]+ most_pref_vip["Preferred"]
most_pref_vip.nlargest(1, "VIP-Preferred")

                amount_spent    VIP  Preferred  VIP-Preferred
Country
United Kingdom   7308391.554  177.0      755.0          932.0