# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [3]:
# Import libraries
import numpy as np
import pandas as pd

In [4]:
# Importing the dataset


pokemon = pd.read_csv("pokemon.csv")

pokemon.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [5]:
# your code here

pokemon["total_test"] = pokemon["HP"] + pokemon["Attack"] + pokemon["Defense"] + pokemon["Sp. Atk"] + pokemon["Sp. Def"] + pokemon["Speed"]

pokemon["comp_total"] = pokemon["total_test"] == pokemon["Total"]

pokemon["comp_total"].value_counts()

# the hypothesis is true --> no false

True    800
Name: comp_total, dtype: int64

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [12]:
# your code here

pokemon_encoded = pd.get_dummies(pokemon, columns= ["Type 1", "Type 2"])

pokemon_encoded.head(2)

,#,Name,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,1,Bulbasaur,318,45,49,49,65,65,45,1,...,0,0,0,0,0,1,0,0,0,0
1,2,Ivysaur,405,60,62,63,80,80,60,1,...,0,0,0,0,0,1,0,0,0,0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [37]:
# your code here

cols = [c for c in pokemon_encoded.columns if c.startswith("Type 1")]


#for col in cols:
    #filter_pokemon_encoded = pokemon_encoded[[col, "Total"]]
   # print(filter_pokemon_encoded.corr())

#pd.DataFrame(filter_pokemon_encoded)

corr_pokemon_type1 =[]

for col in cols:
    filter_pokemon_encoded = pokemon_encoded[[col, "Total"]]
    corr_pokemon_type1.append((filter_pokemon_encoded.corr()))

corr_pokemon_type1

[            Type 1_Bug     Total
 Type 1_Bug    1.000000 -0.143957
 Total        -0.143957  1.000000,
              Type 1_Dark     Total
 Type 1_Dark     1.000000  0.017818
 Total           0.017818  1.000000,
                Type 1_Dragon     Total
 Type 1_Dragon       1.000000  0.196532
 Total               0.196532  1.000000,
                  Type 1_Electric     Total
 Type 1_Electric         1.000000  0.016715
 Total                   0.016715  1.000000,
               Type 1_Fairy     Total
 Type 1_Fairy      1.000000 -0.026948
 Total            -0.026948  1.000000,
                  Type 1_Fighting     Total
 Type 1_Fighting         1.000000 -0.029086
 Total                  -0.029086  1.000000,
              Type 1_Fire     Total
 Type 1_Fire     1.000000  0.050527
 Total           0.050527  1.000000,
                Type 1_Flying     Total
 Type 1_Flying       1.000000  0.029504
 Total               0.029504  1.000000,
               Type 1_Ghost     Total
 Type 1_Ghost      1.000000  0.007594
 Total             0.007594  1.000000,
               Type 1_Grass     Total
 Type 1_Grass      1.000000 -0.036057
 Total            -0.036057  1.000000,
                Type 1_Ground     Total
 Type 1_Ground       1.000000  0.004082
 Total               0.004082  1.000000,
             Type 1_Ice     Total
 Type 1_Ice    1.000000 -0.002412
 Total        -0.002412  1.000000,
                Type 1_Normal    Total
 Type 1_Normal        1.00000 -0.10415
 Total               -0.10415  1.00000,
                Type 1_Poison     Total
 Type 1_Poison       1.000000 -0.057123
 Total              -0.057123  1.000000,
                 Type 1_Psychic     Total
 Type 1_Psychic        1.000000  0.094364
 Total                 0.094364  1.000000,
              Type 1_Rock     Total
 Type 1_Rock     1.000000  0.037524
 Total           0.037524  1.000000,
               Type 1_Steel  Total
 Type 1_Steel         1.000  0.082
 Total                0.082  1.000,
               Type 1_Water    Total
 Type 1_Water       1.00000 -0.01564
 Total             -0.01564  1.00000]

In [39]:
max_value = 0

for df in corr_pokemon_type1:
    if df['Total'].iloc[0] > max_value:
        max_value = df['Total'].iloc[0]
    else:
        continue

print(max_value)

0.19653165607469758

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [ ]:
# your code here