# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [60]:
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [187]:
orders_amount_spent = orders.groupby(['CustomerID', 'Country']).agg({"amount_spent":"sum"})
orders_amount_spent

                           amount_spent
CustomerID Country
12346      United Kingdom      77183.60
12347      Iceland              4310.00
12348      Finland              1797.24
12349      Italy                1757.55
12350      Norway                334.40
...                                 ...
18280      United Kingdom        180.60
18281      United Kingdom         80.82
18282      United Kingdom        178.05
18283      United Kingdom       2094.88
18287      United Kingdom       1837.28

[4347 rows x 1 columns]

In [188]:
labels =  ['Preferred Costumer', 'VIP Costumer']
bins = pd.qcut(orders_amount_spent.amount_spent, q=[ 0.50, 0.75, 0.95], labels = labels)
bins.value_counts()

Preferred Costumer    1087
VIP Costumer           869
Name: amount_spent, dtype: int64

In [206]:
VIP_df= pd.DataFrame(bins)
VIP_df.value_counts()

amount_spent
Preferred Costumer    1087
VIP Costumer           869
dtype: int64

In [216]:
VIP_df = VIP_df.dropna()

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [177]:
orders_vip = countries[countries['amount_spent'] > countries['amount_spent'].quantile(.95)]
orders_vip.sort_values(by=['amount_spent'], ascending=False, inplace=False)

                amount_spent
Country
United Kingdom   7308391.554
Netherlands       285446.340

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [178]:
#orders_preferred_vip = countries[(countries['amount_spent'].quantile(.75) > countries['amount_spent']) & (countries['amount_spent'] < countries['amount_spent'].quantile(.95))]

In [180]:
orders_preferred_vip.columns

Index(['amount_spent'], dtype='object')

In [181]:
pref_vip= pd.merge(left = orders_vip,
                    right = orders_preferred_vip,
                    left_on = 'amount_spent',
                    right_on = 'amount_spent',
                    how = 'outer')

In [182]:
pref_vip

    amount_spent
0     285446.340
1    7308391.554
2      10198.680
3        548.400
4       1143.600
5       3666.380
6      20450.440
7      13590.380
8        826.740
9      18955.340
10      1300.250
11     22546.080
12      4760.520
13      4310.000
14      7221.690
15     17483.240
16     37416.370
17      1693.880
18      1661.060
19      2725.590
20     36165.440
21      7334.650
22     33439.890
23      1002.310
24       145.920
25     21279.290
26      3580.390
27      1902.280
28      2667.070