# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
orders = pd.read_csv('/Users/tiagoornelas/Documents/Ironhack/Labs/lab-dataframe-calculations/your-code/Orders.csv')

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [30]:
unique_customers = orders.groupby(['CustomerID', 'Country']).agg({'amount_spent': 'sum'})


def customer_label(row):
    if row >= unique_customers['amount_spent'].quantile(.95):
        return 'VIP customer'

    elif (row <= unique_customers['amount_spent'].quantile(.95)) & (row >= unique_customers['amount_spent'].quantile(.75)):
        return "Preferred customer"
    
    else:
        return "Normal customer "


unique_customers['type'] = unique_customers['amount_spent'].apply(customer_label)

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [62]:
customers = unique_customers.reset_index()

def type_to_int(row):
    row['type'].replace("VIP customer", 1)
    row['type'].replace("Preferred customer", 0)
    row['type'].replace("Normal customer", 0)

condition = unique_customers['type'] == 'VIP customer'

vip_countries = unique_customers[condition]


most_vip = vip_countries.groupby(['Country']).agg({'type': 'count'})

most_vip

                 type
Country
Australia           1
Channel Islands     1
Cyprus              1
Denmark             1
EIRE                2
Finland             1
France              9
Germany            11
Japan               2
Netherlands         1
Norway              1
Portugal            2
Singapore           1
Spain               2
Sweden              1
Switzerland         3
United Kingdom    178

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [64]:
condition = (unique_customers['type'] == 'VIP customer') | (unique_customers['type'] == 'Preferred customer')

vip_preferred = unique_customers[condition]


most_vip_preferred = vip_preferred.groupby(['Country']).agg({'type': 'count'})
most_vip_preferred

                 type
Country
Australia           4
Austria             1
Belgium            11
Canada              1
Channel Islands     4
Cyprus              3
Denmark             3
EIRE                3
Finland             5
France             29
Germany            39
Greece              1
Iceland             1
Israel              2
Italy               5
Japan               4
Lebanon             1
Malta               1
Netherlands         1
Norway              7
Poland              1
Portugal            7
Singapore           1
Spain               7
Sweden              2
Switzerland         9
United Kingdom    934