# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
# Importing the dataset
pokemon = pd.read_csv('Pokemon.csv')
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [3]:
# your code here
#pokemon.columns # 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 
#pokemon.dtypes

#is Total the sum of the other values?
pokemon[pokemon["Total"]==pokemon["HP"]+pokemon["Attack"]+pokemon["Defense"]+pokemon["Sp. Atk"]+pokemon["Sp. Def"]+pokemon["Speed"]]

#it seems so, there is an output. Is it true for all pokemon? Tested by checking if the sum is not equal to Total:
pokemon[pokemon["Total"]!=pokemon["HP"]+pokemon["Attack"]+pokemon["Defense"]+pokemon["Sp. Atk"]+pokemon["Sp. Def"]+pokemon["Speed"]]
#gives an empty result.
#Total is always the sum of the columns.

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [5]:
# your code here
#getting the new columns, but twice because of 2 types

pokemon_2typecols = pd.get_dummies(pokemon, columns = ["Type 1", "Type 2"], prefix='', prefix_sep='')
pokemon_2typecols

#merge columns with same names together
pokemon_typecols = pokemon_2typecols.groupby(level=0, axis=1).sum()
pokemon_typecols
##how? see here:
##https://stackoverflow.com/questions/70173154/group-and-sum-columns-that-have-the-same-name-in-different-cases-with-pandas

,#,Attack,Bug,Dark,Defense,Dragon,Electric,Fairy,Fighting,Fire,...,Normal,Poison,Psychic,Rock,Sp. Atk,Sp. Def,Speed,Steel,Total,Water
0,1,49,0,0,49,0,0,0,0,0,...,0,1,0,0,65,65,45,0,318,0
1,2,62,0,0,63,0,0,0,0,0,...,0,1,0,0,80,80,60,0,405,0
2,3,82,0,0,83,0,0,0,0,0,...,0,1,0,0,100,100,80,0,525,0
3,3,100,0,0,123,0,0,0,0,0,...,0,1,0,0,122,120,80,0,625,0
4,4,52,0,0,43,0,0,0,0,1,...,0,0,0,0,60,50,65,0,309,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,100,0,0,150,0,0,1,0,0,...,0,0,0,1,100,150,50,0,600,0
796,719,160,0,0,110,0,0,1,0,0,...,0,0,0,1,160,110,110,0,700,0
797,720,110,0,0,60,0,0,0,0,0,...,0,0,1,0,150,130,70,0,600,0
798,720,160,0,1,60,0,0,0,0,0,...,0,0,1,0,170,130,80,0,680,0
799,721,110,0,0,120,0,0,0,0,1,...,0,0,0,0,130,90,70,0,600,1

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [6]:
#preparing a list of all the types to get the right columns for .corr
pokemon_typecols.columns

#typelist
type1 = pokemon["Type 1"].unique()
type2 = pokemon["Type 2"].unique()
types = list(set(type1).union(set(type2)))
types = [item for item in types if not(pd.isnull(item)) == True]
types

['Ground',
 'Grass',
 'Electric',
 'Ice',
 'Dark',
 'Steel',
 'Fire',
 'Rock',
 'Ghost',
 'Poison',
 'Fighting',
 'Flying',
 'Psychic',
 'Dragon',
 'Bug',
 'Normal',
 'Water',
 'Fairy']

In [7]:
# filling a dict with all the Correlation values, turn it into a df

pokemon_typecols_dict = {t : pokemon_typecols['Total'].corr(pokemon_typecols[t]) for t in types}
pokemon_corr = pd.DataFrame(pokemon_typecols_dict, index=["corr"])   
pokemon_corr

,Ground,Grass,Electric,Ice,Dark,Steel,Fire,Rock,Ghost,Poison,Fighting,Flying,Psychic,Dragon,Bug,Normal,Water,Fairy
corr,0.01506,-0.052592,0.020971,0.060248,0.056154,0.109703,0.078726,0.032731,0.003641,-0.090441,0.077786,0.059383,0.124688,0.229705,-0.145781,-0.105331,-0.021665,-0.036698

In [83]:
#Rank the correlations and identify the #1 pokemon type that is most likely to have the highest Total
pokemon_corr.transpose().sort_values("corr", ascending=False)

#Solution:
#No 1 pokemon type is Dragon, showing the highest correlation with Total.

              corr
Dragon    0.229705
Psychic   0.124688
Steel     0.109703
Fire      0.078726
Fighting  0.077786
Ice       0.060248
Flying    0.059383
Dark      0.056154
Rock      0.032731
Electric  0.020971
Ground    0.015060
Ghost     0.003641
Water    -0.021665
Fairy    -0.036698
Grass    -0.052592
Poison   -0.090441
Normal   -0.105331
Bug      -0.145781

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [9]:
def typecombo(row):
    if type(row["Type 2"]) == str:
        return row["Type 1"] +'-'+ row["Type 2"]
    else:
        return row["Type 1"]

pokemon["Combo Type"] = pokemon.apply(typecombo, axis=1)
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass-Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,Fire-Flying
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,Fire-Dragon
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,Water

In [16]:
pokemon_1typecol = pd.get_dummies(pokemon, columns = ["Combo Type"], prefix='type', prefix_sep='_')
#pokemon_1typecol.columns
filter_col = [col for col in pokemon_1typecol if col.startswith('type_')]
filter_col

['type_Bug',
 'type_Bug-Electric',
 'type_Bug-Fighting',
 'type_Bug-Fire',
 'type_Bug-Flying',
 'type_Bug-Ghost',
 'type_Bug-Grass',
 'type_Bug-Ground',
 'type_Bug-Poison',
 'type_Bug-Rock',
 'type_Bug-Steel',
 'type_Bug-Water',
 'type_Dark',
 'type_Dark-Dragon',
 'type_Dark-Fighting',
 'type_Dark-Fire',
 'type_Dark-Flying',
 'type_Dark-Ghost',
 'type_Dark-Ice',
 'type_Dark-Psychic',
 'type_Dark-Steel',
 'type_Dragon',
 'type_Dragon-Electric',
 'type_Dragon-Fairy',
 'type_Dragon-Fire',
 'type_Dragon-Flying',
 'type_Dragon-Ground',
 'type_Dragon-Ice',
 'type_Dragon-Psychic',
 'type_Electric',
 'type_Electric-Dragon',
 'type_Electric-Fairy',
 'type_Electric-Fire',
 'type_Electric-Flying',
 'type_Electric-Ghost',
 'type_Electric-Grass',
 'type_Electric-Ice',
 'type_Electric-Normal',
 'type_Electric-Steel',
 'type_Electric-Water',
 'type_Fairy',
 'type_Fairy-Flying',
 'type_Fighting',
 'type_Fighting-Dark',
 'type_Fighting-Flying',
 'type_Fighting-Psychic',
 'type_Fighting-Steel',
 'type_Fire',
 'type_Fire-Dragon',
 'type_Fire-Fighting',
 'type_Fire-Flying',
 'type_Fire-Ground',
 'type_Fire-Normal',
 'type_Fire-Psychic',
 'type_Fire-Rock',
 'type_Fire-Steel',
 'type_Fire-Water',
 'type_Flying',
 'type_Flying-Dragon',
 'type_Ghost',
 'type_Ghost-Dark',
 'type_Ghost-Dragon',
 'type_Ghost-Fire',
 'type_Ghost-Flying',
 'type_Ghost-Grass',
 'type_Ghost-Poison',
 'type_Grass',
 'type_Grass-Dark',
 'type_Grass-Dragon',
 'type_Grass-Fairy',
 'type_Grass-Fighting',
 'type_Grass-Flying',
 'type_Grass-Ground',
 'type_Grass-Ice',
 'type_Grass-Poison',
 'type_Grass-Psychic',
 'type_Grass-Steel',
 'type_Ground',
 'type_Ground-Dark',
 'type_Ground-Dragon',
 'type_Ground-Electric',
 'type_Ground-Fire',
 'type_Ground-Flying',
 'type_Ground-Ghost',
 'type_Ground-Psychic',
 'type_Ground-Rock',
 'type_Ground-Steel',
 'type_Ice',
 'type_Ice-Flying',
 'type_Ice-Ghost',
 'type_Ice-Ground',
 'type_Ice-Psychic',
 'type_Ice-Water',
 'type_Normal',
 'type_Normal-Fairy',
 'type_Normal-Fighting',
 'type_Normal-Flying',
 'type_Normal-Grass',
 'type_Normal-Ground',
 'type_Normal-Psychic',
 'type_Normal-Water',
 'type_Poison',
 'type_Poison-Bug',
 'type_Poison-Dark',
 'type_Poison-Dragon',
 'type_Poison-Fighting',
 'type_Poison-Flying',
 'type_Poison-Ground',
 'type_Poison-Water',
 'type_Psychic',
 'type_Psychic-Dark',
 'type_Psychic-Fairy',
 'type_Psychic-Fighting',
 'type_Psychic-Fire',
 'type_Psychic-Flying',
 'type_Psychic-Ghost',
 'type_Psychic-Grass',
 'type_Rock',
 'type_Rock-Bug',
 'type_Rock-Dark',
 'type_Rock-Dragon',
 'type_Rock-Fairy',
 'type_Rock-Fighting',
 'type_Rock-Flying',
 'type_Rock-Grass',
 'type_Rock-Ground',
 'type_Rock-Ice',
 'type_Rock-Psychic',
 'type_Rock-Steel',
 'type_Rock-Water',
 'type_Steel',
 'type_Steel-Dragon',
 'type_Steel-Fairy',
 'type_Steel-Fighting',
 'type_Steel-Flying',
 'type_Steel-Ghost',
 'type_Steel-Ground',
 'type_Steel-Psychic',
 'type_Steel-Rock',
 'type_Water',
 'type_Water-Dark',
 'type_Water-Dragon',
 'type_Water-Electric',
 'type_Water-Fairy',
 'type_Water-Fighting',
 'type_Water-Flying',
 'type_Water-Ghost',
 'type_Water-Grass',
 'type_Water-Ground',
 'type_Water-Ice',
 'type_Water-Poison',
 'type_Water-Psychic',
 'type_Water-Rock',
 'type_Water-Steel']

In [17]:
pokemon_1typecol.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,...,type_Water-Fighting,type_Water-Flying,type_Water-Ghost,type_Water-Grass,type_Water-Ground,type_Water-Ice,type_Water-Poison,type_Water-Psychic,type_Water-Rock,type_Water-Steel
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,0,0,0,0,0,0,0,0,0,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,0,0,0,0,0,0,0,0,0,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,0,0,0,0,0,0,0,0,0,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,...,0,0,0,0,0,0,0,0,0,0
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# filling a dict with all the Correlation values, turn it into a df

pokemon_typecol1_dict = {t : pokemon_1typecol['Total'].corr(pokemon_1typecol[t]) for t in filter_col}
pokemon_typecol1_dict

{'type_Bug': -0.17869896013466752,
 'type_Bug-Electric': -0.016537135952864844,
 'type_Bug-Fighting': 0.0479786775618784,
 'type_Bug-Fire': 0.008308759866728828,
 'type_Bug-Flying': -0.01736885054001315,
 'type_Bug-Ghost': -0.05875265075515327,
 'type_Bug-Grass': -0.0370537069849913,
 'type_Bug-Ground': -0.03762482904344436,
 'type_Bug-Poison': -0.08974237921758772,
 'type_Bug-Rock': -5.245410412691469e-05,
 'type_Bug-Steel': 0.05847146868724743,
 'type_Bug-Water': -0.04901476461650579,
 'type_Dark': 0.0010299475888800634,
 'type_Dark-Dragon': 0.0025062826825486633,
 'type_Dark-Fighting': -0.007141629130329428,
 'type_Dark-Fire': 0.02127035245150235,
 'type_Dark-Flying': 0.038960313305158645,
 'type_Dark-Ghost': -0.002130692158310529,
 'type_Dark-Ice': 0.014572431081752473,
 'type_Dark-Psychic': -0.020921705803381367,
 'type_Dark-Steel': -0.008394363373334145,
 'type_Dragon': -0.021410106187349197,
 'type_Dragon-Electric': 0.07226618092846718,
 'type_Dragon-Fairy': 0.04570830964124689,
 'type_Dragon-Fire': 0.07226618092846718,
 'type_Dragon-Flying': 0.14977678401772,
 'type_Dragon-Ground': 0.05748213125234529,
 'type_Dragon-Ice': 0.12873729749187376,
 'type_Dragon-Psychic': 0.12706588538942942,
 'type_Electric': -0.03358937856020534,
 'type_Electric-Dragon': 0.05161005881618447,
 'type_Electric-Fairy': -0.0012105962995091262,
 'type_Electric-Fire': 0.025052187528964265,
 'type_Electric-Flying': 0.0678014298229209,
 'type_Electric-Ghost': 0.0014451908292129015,
 'type_Electric-Grass': 0.025052187528964265,
 'type_Electric-Ice': 0.025052187528964265,
 'type_Electric-Normal': -0.020921705803381367,
 'type_Electric-Steel': 0.0033591949447737573,
 'type_Electric-Water': 0.025052187528964265,
 'type_Fairy': -0.034785500575304384,
 'type_Fairy-Flying': 0.016660321486760325,
 'type_Fighting': -0.05362958412916554,
 'type_Fighting-Dark': 0.017675001060292038,
 'type_Fighting-Flying': 0.019150438354026512,
 'type_Fighting-Psychic': -0.017963611610855395,
 'type_Fighting-Steel': 0.0584181295869176,
 'type_Fire': -0.03635853855594621,
 'type_Fire-Dragon': 0.05869215782610949,
 'type_Fire-Fighting': 0.045260929745017525,
 'type_Fire-Flying': 0.08439819693333024,
 'type_Fire-Ground': 0.003359194944773841,
 'type_Fire-Normal': 0.0012099324897020672,
 'type_Fire-Psychic': 0.04255016250885795,
 'type_Fire-Rock': -0.007407432933193861,
 'type_Fire-Steel': 0.048659184228715464,
 'type_Fire-Water': 0.04865918422871586,
 'type_Flying': 0.06050601999192555,
 'type_Flying-Dragon': -0.018833815398373494,
 'type_Ghost': -0.005163814676821748,
 'type_Ghost-Dark': 0.01472412647282301,
 'type_Ghost-Dragon': 0.10226382809208293,
 'type_Ghost-Fire': -0.0239339974464316,
 'type_Ghost-Flying': -0.005053738725321558,
 'type_Ghost-Grass': -0.023651256591113414,
 'type_Ghost-Poison': 0.011026005876287012,
 'type_Grass': -0.05454595231729025,
 'type_Grass-Dark': -0.0017582786285771743,
 'type_Grass-Dragon': 0.05751180799112245,
 'type_Grass-Fairy': -0.023009596208389247,
 'type_Grass-Fighting': 0.0451518957938071,
 'type_Grass-Flying': -0.008667218559036722,
 'type_Grass-Ground': 0.026527624822698697,
 'type_Grass-Ice': 0.01990569283194207,
 'type_Grass-Poison': -0.02425463058371964,
 'type_Grass-Psychic': -0.005262527765822336,
 'type_Grass-Steel': -0.015910768831362478,
 'type_Ground': -0.04274384044816948,
 'type_Ground-Dark': -0.02444574480376672,
 'type_Ground-Dragon': -0.002130692158310527,
 'type_Ground-Electric': 0.010592902050366582,
 'type_Ground-Fire': 0.09882405221568717,
 'type_Ground-Flying': 0.059067994209753595,
 'type_Ground-Ghost': -0.017581081155368793,
 'type_Ground-Psychic': -0.014658034588357755,
 'type_Ground-Rock': 0.010182493042575137,
 'type_Ground-Steel': 0.021511138024001578,
 'type_Ice': 0.011270166957407067,
 'type_Ice-Flying': 0.00830875986672885,
 'type_Ice-Ghost': 0.013248689179088564,
 'type_Ice-Ground': -0.012846138037504432,
 'type_Ice-Psychic': -0.02300959620838925,
 'type_Ice-Water': -0.012846138037504399,
 'type_Normal': -0.06408526662779665,
 'type_Normal-Fairy': -0.06952462038550779,
 'type_Normal-Fighting': 0.06468180080194141,
 'type_Normal-Flying': -0.0926258354783908,
 'type_Normal-Grass': -0.012570144183349886,
 'type_Normal-Ground': -0.0035712959694842727,
 'type_Normal-Psychic': 0.03858317073934299,
 'type_Normal-Water': -0.007407432933193838,
 'type_Poison': -0.0643795512815817,
 'type_Poison-Bug': -0.03101442963294512,
 'type_Poison-Dark': 0.000459293253208264,
 'type_Poison-Dragon': 0.017379913601545154,
 'type_Poison-Fighting': -0.01674592499336564,
 'type_Poison-Flying': -0.01199322577527922,
 'type_Poison-Ground': 0.029187663916807622,
 'type_Poison-Water': -0.03396530422041429,
 'type_Psychic': 0.05485619674863899,
 'type_Psychic-Dark': 0.07226618092846732,
 'type_Psychic-Fairy': -0.02762758906894243,
 'type_Psychic-Fighting': 0.10417342433978863,
 'type_Psychic-Fire': 0.0486591842287155,
 'type_Psychic-Flying': 0.01056027325761438,
 'type_Psychic-Ghost': 0.04865918422871585,
 'type_Psychic-Grass': 0.048659184228715666,
 'type_Rock': -0.022828685028302903,
 'type_Rock-Bug': -0.004218582563318398,
 'type_Rock-Dark': 0.08973648566203572,
 'type_Rock-Dragon': 0.0026714557732075758,
 'type_Rock-Fairy': 0.0843858598561649,
 'type_Rock-Fighting': 0.042757435053777874,
 'type_Rock-Flying': 0.05285949110204427,
 'type_Rock-Grass': -0.004218582563318398,
 'type_Rock-Ground': -0.03995405095916016,
 'type_Rock-Ice': 0.0026714557732075758,
 'type_Rock-Psychic': 0.0020450886517052146,
 'type_Rock-Steel': 0.011035405304800345,
 'type_Rock-Water': -0.012642478535736516,
 'type_Steel': 0.03896031330515852,
 'type_Steel-Dragon': 0.07226618092846679,
 'type_Steel-Fairy': 0.004212107206999007,
 'type_Steel-Fighting': 0.042757435053777874,
 'type_Steel-Flying': 0.008822377297885216,
 'type_Steel-Ghost': 0.010730362871157991,
 'type_Steel-Ground': 0.05215445837189404,
 'type_Steel-Psychic': 0.041902318149534996,
 'type_Steel-Rock': -0.002611190890802346,
 'type_Water': -0.050266187766935574,
 'type_Water-Dark': 0.042584904639062365,
 'type_Water-Dragon': 0.07303336242197295,
 'type_Water-Electric': -0.01674592499336564,
 'type_Water-Fairy': -0.04180060985346007,
 'type_Water-Fighting': 0.06221014103831036,
 'type_Water-Flying': -0.024374284001312956,
 'type_Water-Ghost': -0.011526198980845956,
 'type_Water-Grass': -0.04525680400206082,
 'type_Water-Ground': -0.0011284847158342544,
 'type_Water-Ice': 0.03918150995823085,
 'type_Water-Poison': -0.004317015415252681,
 'type_Water-Psychic': 0.030360897829678962,
 'type_Water-Rock': -0.0037561443801642546,
 'type_Water-Steel': 0.028003062116433164}

In [19]:
pokemon_corr_combo = pd.DataFrame(pokemon_typecol1_dict, index=["corr"])   
pokemon_corr_combo

,type_Bug,type_Bug-Electric,type_Bug-Fighting,type_Bug-Fire,type_Bug-Flying,type_Bug-Ghost,type_Bug-Grass,type_Bug-Ground,type_Bug-Poison,type_Bug-Rock,...,type_Water-Fighting,type_Water-Flying,type_Water-Ghost,type_Water-Grass,type_Water-Ground,type_Water-Ice,type_Water-Poison,type_Water-Psychic,type_Water-Rock,type_Water-Steel
corr,-0.178699,-0.016537,0.047979,0.008309,-0.017369,-0.058753,-0.037054,-0.037625,-0.089742,-0.000052,...,0.06221,-0.024374,-0.011526,-0.045257,-0.001128,0.039182,-0.004317,0.030361,-0.003756,0.028003

In [20]:
#Rank the correlations and identify the #1 pokemon type that is most likely to have the highest Total
pokemon_corr_combo.transpose().sort_values("corr", ascending=False)

#Dragon+flying is the strongest combo

                           corr
type_Dragon-Flying     0.149777
type_Dragon-Ice        0.128737
type_Dragon-Psychic    0.127066
type_Psychic-Fighting  0.104173
type_Ghost-Dragon      0.102264
...                         ...
type_Poison           -0.064380
type_Normal-Fairy     -0.069525
type_Bug-Poison       -0.089742
type_Normal-Flying    -0.092626
type_Bug              -0.178699

[154 rows x 1 columns]