# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd
import zipfile

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# your code here
orders=pd.read_csv('Orders.zip',compression='zip', index_col=0)
display(orders.head())

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [4]:
# your code here
vp=orders.groupby('CustomerID').agg({'amount_spent':'sum'})

In [5]:
q2=vp['amount_spent'].quantile(0.75)
q3=vp['amount_spent'].quantile(0.95)
print(q3)
pref=vp[vp['amount_spent']>q2][vp['amount_spent']<q3]
vip=vp[vp['amount_spent']>q3]
display(pref)
display(vip)

5840.181999999982

C:\Users\Francesco M\AppData\Local\Temp\ipykernel_18480\3735549234.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  pref=vp[vp['amount_spent']>q2][vp['amount_spent']<q3]

            amount_spent
CustomerID
12347            4310.00
12348            1797.24
12349            1757.55
12352            2506.04
12356            2811.43
...                  ...
18259            2338.60
18260            2643.20
18272            3078.58
18283            2094.88
18287            1837.28

[868 rows x 1 columns]

            amount_spent
CustomerID
12346           77183.60
12357            6207.67
12359            6372.58
12409           11072.67
12415          124914.53
...                  ...
18109            8052.97
18139            8438.34
18172            7561.68
18223            6484.54
18229            7276.90

[217 rows x 1 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [6]:
# your code here
vip['status']='VIP'
pref['status']='Preffered Customer'
# vip.drop(['amount_spent'],axis=1,inplace=True)
pref.drop(['amount_spent'],axis=1,inplace=True)
vip

C:\Users\Francesco M\AppData\Local\Temp\ipykernel_18480\3119776940.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vip['status']='VIP'
C:\Users\Francesco M\AppData\Local\Temp\ipykernel_18480\3119776940.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pref['status']='Preffered Customer'
C:\Users\Francesco M\AppData\Local\Temp\ipykernel_18480\3119776940.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pref.drop(['amount_spent'],axis=1,inplace=True)

            amount_spent status
CustomerID
12346           77183.60    VIP
12357            6207.67    VIP
12359            6372.58    VIP
12409           11072.67    VIP
12415          124914.53    VIP
...                  ...    ...
18109            8052.97    VIP
18139            8438.34    VIP
18172            7561.68    VIP
18223            6484.54    VIP
18229            7276.90    VIP

[217 rows x 2 columns]

In [15]:
# your code here
orders

ValueError: ('Lengths must match to compare', (397924,), (217,))

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,status_x,status_y
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,NaN,NaN
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,NaN,NaN
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,NaN,NaN
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,NaN,NaN
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581578,22993,2011,12,5,12,set of 4 pantry jelly moulds,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,NaN,NaN
397920,581578,22907,2011,12,5,12,pack of 20 napkins pantry design,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,NaN,NaN
397921,581578,22908,2011,12,5,12,pack of 20 napkins red apples,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,NaN,NaN
397922,581578,23215,2011,12,5,12,jingle bell heart antique silver,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,NaN,NaN
397923,581578,22736,2011,12,5,12,ribbon reel making snowmen,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,NaN,NaN

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here

            amount_spent status
CustomerID
12346           77183.60    VIP
12357            6207.67    VIP
12359            6372.58    VIP
12409           11072.67    VIP
12415          124914.53    VIP
...                  ...    ...
18109            8052.97    VIP
18139            8438.34    VIP
18172            7561.68    VIP
18223            6484.54    VIP
18229            7276.90    VIP

[217 rows x 2 columns]