# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [12]:
# your code here

import zipfile


orders = pd.read_csv('/Users/joananogueira/Desktop/Ironhack /Labs/Week2/lab-dataframe-calculations/your-code/Orders.zip',compression='zip')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [30]:
# your code here
# Sub Problem 1:

cust_amo = orders.groupby('CustomerID')['amount_spent'].agg('sum')
cust_amo.sort_values(ascending=False)
agg_exp = pd.DataFrame(cust_amo).reset_index()
agg_exp
agg_exp.sort_values(by='amount_spent', ascending=False)

      CustomerID  amount_spent
1690       14646     280206.02
4202       18102     259657.30
3729       17450     194550.79
3009       16446     168472.50
1880       14911     143825.06
...          ...           ...
4099       17956         12.75
3015       16454          6.90
1794       14792          6.20
3218       16738          3.75
685        13256          0.00

[4339 rows x 2 columns]

In [31]:
Lables = ['Preferred','VIP']
bins = pd.qcut(agg_exp['amount_spent'],[0.75,0.95,1],labels=Lables)
print(bins.value_counts())

Preferred    868
VIP          217
Name: amount_spent, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [39]:
# your code here
orders[ 'Customer_Bin'] = bins
orders

orders_vip = orders[orders['Customer_Bin'] == 'VIP']

orders_vip.groupby(['Country', 'Customer_Bin']).agg({'CustomerID':'count'}).sort_values(by='CustomerID', ascending=False)

                             CustomerID
Country        Customer_Bin
United Kingdom VIP                  204
Norway         VIP                    9
EIRE           VIP                    2
Australia      VIP                    1
Spain          VIP                    1
Australia      Preferred              0
EIRE           Preferred              0
Norway         Preferred              0
Spain          Preferred              0
United Kingdom Preferred              0

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [40]:
# your code here

orders.groupby(['Country', 'Customer_Bin']).agg({'CustomerID':'count'}).sort_values(by='CustomerID', ascending=False)

                             CustomerID
Country        Customer_Bin
United Kingdom Preferred            831
               VIP                  204
Norway         VIP                    9
EIRE           Preferred              8
France         Preferred              8
...                                 ...
Iceland        VIP                    0
Israel         Preferred              0
               VIP                    0
Italy          Preferred              0
Unspecified    VIP                    0

[74 rows x 1 columns]