# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [2]:
# import libraries

import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [3]:
# import dataset

pokemon=pd.read_csv("Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [4]:
# your code here

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [5]:
# your code here


(pokemon["Type 1"]+" "+pokemon["Type 2"]).unique()

array(['Grass Poison', nan, 'Fire Flying', 'Fire Dragon', 'Bug Flying',
       'Bug Poison', 'Normal Flying', 'Poison Ground', 'Normal Fairy',
       'Poison Flying', 'Bug Grass', 'Water Fighting', 'Water Poison',
       'Rock Ground', 'Water Psychic', 'Electric Steel', 'Water Ice',
       'Ghost Poison', 'Grass Psychic', 'Ground Rock', 'Psychic Fairy',
       'Ice Psychic', 'Water Flying', 'Water Dark', 'Rock Water',
       'Rock Flying', 'Ice Flying', 'Electric Flying', 'Dragon Flying',
       'Psychic Fighting', 'Water Electric', 'Fairy Flying',
       'Psychic Flying', 'Electric Dragon', 'Water Fairy', 'Grass Flying',
       'Water Ground', 'Dark Flying', 'Normal Psychic', 'Bug Steel',
       'Ground Flying', 'Steel Ground', 'Bug Rock', 'Bug Fighting',
       'Dark Ice', 'Fire Rock', 'Ice Ground', 'Water Rock',
       'Steel Flying', 'Dark Fire', 'Water Dragon', 'Rock Dark',
       'Psychic Grass', 'Grass Dragon', 'Fire Fighting', 'Water Grass',
       'Grass Dark', 'Bug Water', 'Grass Fighting', 'Bug Ground',
       'Bug Ghost', 'Dark Ghost', 'Steel Fairy', 'Steel Rock',
       'Fighting Psychic', 'Fire Ground', 'Ground Dragon', 'Dragon Fairy',
       'Rock Psychic', 'Ground Psychic', 'Rock Grass', 'Rock Bug',
       'Ice Water', 'Steel Psychic', 'Dragon Psychic', 'Ground Fire',
       'Grass Ground', 'Water Steel', 'Normal Water', 'Rock Steel',
       'Ghost Flying', 'Normal Fighting', 'Poison Dark', 'Ghost Dark',
       'Dragon Ground', 'Fighting Steel', 'Poison Bug', 'Poison Fighting',
       'Grass Ice', 'Ice Ghost', 'Electric Ghost', 'Electric Fire',
       'Electric Water', 'Electric Ice', 'Electric Grass', 'Steel Dragon',
       'Fire Steel', 'Ghost Dragon', 'Psychic Fire', 'Ground Steel',
       'Grass Fairy', 'Ground Dark', 'Fire Psychic', 'Dark Fighting',
       'Normal Grass', 'Water Ghost', 'Bug Electric', 'Grass Steel',
       'Ghost Fire', 'Ground Electric', 'Ground Ghost', 'Dark Steel',
       'Dark Dragon', 'Bug Fire', 'Steel Fighting', 'Rock Fighting',
       'Dragon Fire', 'Dragon Electric', 'Dragon Ice', 'Normal Ground',
       'Fire Normal', 'Fighting Dark', 'Steel Ghost', 'Dark Psychic',
       'Poison Water', 'Poison Dragon', 'Electric Normal', 'Rock Dragon',
       'Rock Ice', 'Fighting Flying', 'Electric Fairy', 'Rock Fairy',
       'Ghost Grass', 'Flying Dragon', 'Psychic Ghost', 'Psychic Dark',
       'Fire Water'], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [6]:
# your code here


# test transformed data

pokemon["Name"][pokemon["Name"].str.contains("Mega")]


pokemon["Name"].str.replace("[A-Z]+[a-z]+Mega","Mega")

/var/folders/wf/ysxbv8152xb5ck7nz1ply8sw0000gp/T/ipykernel_55372/3389240865.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  pokemon["Name"].str.replace("[A-Z]+[a-z]+Mega","Mega")

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3            Mega Venusaur
4               Charmander
              ...
795                Diancie
796           Mega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, Length: 800, dtype: object

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [7]:
# your code here

pokemon["A/D"]=pokemon["Attack"]/pokemon["Defense"]

#### Identify the pokemon with the highest `A/D Ratio`.

In [8]:
# your code here

pokemon["Name"][pokemon["A/D"]==pokemon["A/D"].max()]

429    DeoxysAttack Forme
Name: Name, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [9]:
# your code here

pokemon["Name"][pokemon["A/D"]==pokemon["A/D"].min()]

230    Shuckle
Name: Name, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [16]:
# your code here

pokemon["Type 1"]

pokemon["Type 2"]

def combo(row):
    if str(row["Type 2"])=="nan":
        return  row["Type 1"]
    else: return row["Type 1"]+"-"+row["Type 2"]




pokemon["Combo_type"]=pokemon.apply(combo,axis=1)

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [11]:
# your code here

pokemon[["Name","A/D"]].sort_values(by="A/D",ascending=False).head(5)

                      Name    A/D
429     DeoxysAttack Forme  9.000
347               Carvanha  4.500
19   BeedrillMega Beedrill  3.750
453               Cranidos  3.125
348               Sharpedo  3.000

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [58]:
# your code here

pokemon[["Name","Type 1","Type 2","A/D"]].sort_values(by="A/D",ascending=False)

pokemon_top_5=pokemon.sort_values(by="A/D",ascending=False).head(5)

pokemon_top_5["Combo_Type"]=pokemon_top_5.apply(combo,axis=1)

unique_combo= list(pokemon_top_5["Combo_type"].unique())

unique_combo

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [43]:
# your code here

columns=list(pokemon.select_dtypes(exclude=[object,bool]).columns)

pokemon.groupby("Combo_type")[columns].agg("mean")

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,A/D,...,#22,Total22,HP22,Attack22,Defense22,Sp. Atk22,Sp. Def22,Speed22,Generation22,A/D22
Combo_type,,,,,,,,,,,,,,,,,,,,,
Bug,361.352941,289.705882,53.058824,50.352941,55.411765,39.294118,43.647059,47.941176,3.470588,0.940179,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bug-Electric,595.500000,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,1.111667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bug-Fighting,214.000000,550.000000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,1.637681,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bug-Fire,636.500000,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,1.234266,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bug-Flying,286.285714,419.500000,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,1.146274,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Water-Ice,103.000000,511.666667,90.000000,83.333333,113.333333,80.000000,78.333333,66.666667,1.000000,0.821759,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Water-Poison,118.666667,426.666667,61.666667,68.333333,58.333333,61.666667,91.666667,85.000000,1.333333,1.162149,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Water-Psychic,111.800000,481.000000,87.000000,73.000000,104.000000,94.000000,79.000000,44.000000,1.200000,0.783668,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Water-Rock,430.000000,428.750000,70.750000,82.750000,112.750000,61.500000,65.000000,36.000000,3.750000,0.727170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Water-Steel,395.000000,530.000000,84.000000,86.000000,88.000000,111.000000,101.000000,60.000000,4.000000,0.977273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN