# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
orders = pd.read_csv("Orders.csv")
display(orders.head())

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [4]:
# Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

amount_per_costumer = orders.groupby("CustomerID")["amount_spent"].agg("sum").sort_values(ascending=False).reset_index()
amount_per_costumer.sort_values(by="amount_spent", ascending=False)

      CustomerID  amount_spent
0          14646     280206.02
1          18102     259657.30
2          17450     194550.79
3          16446     168472.50
4          14911     143825.06
...          ...           ...
4334       17956         12.75
4335       16454          6.90
4336       14792          6.20
4337       16738          3.75
4338       13256          0.00

[4339 rows x 2 columns]

In [5]:
# Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

labels = ['Preferred', 'VIP'] # 5 bins 

bins = pd.qcut(amount_per_costumer["amount_spent"], [0.75, 0.95, 1], labels=labels)
print(bins.value_counts())

Preferred    868
VIP          217
Name: amount_spent, dtype: int64

In [6]:
# Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

# identifying which customer has each bin category:

orders["customer_label"] = bins
orders.head(10)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,customer_label
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,VIP
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,VIP
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,VIP
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,VIP
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,VIP
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30,VIP
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50,VIP
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10,VIP
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10,VIP
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08,VIP

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [7]:
only_vip = orders[orders['customer_label'] == 'VIP']

only_vip.groupby(['Country', 'customer_label']).agg({'CustomerID':'count'}).sort_values(by='CustomerID', ascending=False)

                               CustomerID
Country        customer_label
United Kingdom VIP                    183
France         VIP                     20
Australia      VIP                     14
               Preferred                0
France         Preferred                0
United Kingdom Preferred                0

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [8]:
orders.groupby(['Country', 'customer_label']).agg({'CustomerID':'count'}).sort_values(by='CustomerID', ascending=False)

                                   CustomerID
Country            customer_label
United Kingdom     Preferred              866
                   VIP                    183
France             VIP                     20
Australia          VIP                     14
Netherlands        Preferred                2
...                                       ...
European Community VIP                      0
                   Preferred                0
EIRE               VIP                      0
                   Preferred                0
Unspecified        VIP                      0

[74 rows x 1 columns]