# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [54]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [55]:
# your code here
orders = pd.read_csv('Orders.zip')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [56]:
# SP 1:
spent_per_customer = orders.groupby(['CustomerID']).agg({'amount_spent' : 'sum'})
spent_per_customer

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
...                  ...
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

In [57]:
# SP 2/3:
labels = ['regular','Preferred','VIP']

vip = pd.qcut(orders['amount_spent'],q=[0, .75,0.95, 1.],labels=labels)
orders['TypeCustomer'] = vip

spent_per_type = orders.groupby(['TypeCustomer']).agg({'amount_spent' : 'sum'})
spent_per_type

              amount_spent
TypeCustomer
regular        2778929.084
Preferred      2245195.300
VIP            3887283.520

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [73]:
# your code here
conditionVIP = orders['TypeCustomer']=='VIP'
VIP_rows=orders[conditionVIP]

(VIP_rows.groupby(['Country']).agg({'InvoiceNo': 'count'})).sort_values('InvoiceNo',ascending=False)

                      InvoiceNo
Country
United Kingdom            14739
Netherlands                1468
EIRE                        715
Australia                   571
Germany                     511
France                      393
Switzerland                 179
Sweden                      177
Japan                       172
Spain                       129
Norway                      114
Denmark                      62
Finland                      62
Singapore                    41
Portugal                     41
Belgium                      39
Channel Islands              31
Israel                       28
Austria                      27
Cyprus                       24
Greece                       20
Italy                        19
Poland                       10
Lithuania                     7
Iceland                       7
Lebanon                       6
Malta                         4
USA                           4
United Arab Emirates          4
Canada                        3
Brazil                        3
Bahrain                       2
Unspecified                   2
Czech Republic                1

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [75]:
# your code here
conditionVIPPref = (orders['TypeCustomer']=='VIP') | (orders['TypeCustomer']=='Preferred')
VIPPref_rows=orders[conditionVIPPref]

(VIPPref_rows.groupby(['Country']).agg({'InvoiceNo': 'count'})).sort_values('InvoiceNo',ascending=False)

                      InvoiceNo
Country
United Kingdom            72944
Germany                    2893
France                     2736
EIRE                       2662
Netherlands                1927
Australia                   843
Switzerland                 771
Spain                       599
Belgium                     581
Norway                      503
Portugal                    446
Channel Islands             299
Finland                     277
Sweden                      270
Italy                       266
Japan                       241
Denmark                     217
Cyprus                      194
Singapore                   154
Israel                      118
Austria                     118
Poland                      112
Iceland                      67
USA                          60
Greece                       48
United Arab Emirates         36
Unspecified                  36
Canada                       33
Malta                        30
Lithuania                    27
Lebanon                      27
European Community           23
Czech Republic               20
RSA                          18
Brazil                       15
Bahrain                      11