# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [51]:
# import libraries
import pandas as pd

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [52]:
# import dataset
pokemon = pd.read_csv("C:/Users/jsctr/Dropbox/IronHack/Labs/Week_2/lab-dataframe-calculations/your-code/pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [53]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [54]:
# your code here
types = pokemon[["Type 1", "Type 2"]]
types.head()

  Type 1  Type 2
0  Grass  Poison
1  Grass  Poison
2  Grass  Poison
3  Grass  Poison
4   Fire     NaN

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [55]:
# your code here
import re

letters = r'^[A-Za-z]+Mega'
pokemon['Name'] = pokemon['Name'].str.replace(letters, 'Mega', regex=True)

# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [65]:
# your code here
pokemon["A/D Ratio"] = pokemon["Attack"] / pokemon["Defense"]
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [66]:
# your code here
pokemon["A/D Ratio"].max()

9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [67]:
# your code here
pokemon["A/D Ratio"].min()

0.043478260869565216

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [94]:
# your code here
pokemon["Combo Type"] = pokemon["Type 1"] + '-' + pokemon["Type 2"]
pokemon['Combo Type'].fillna(pokemon['Type 1'], inplace=True)
                  
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [95]:
# your code here
pokemon["A/D Ratio"].sort_values(ascending = False).head(5)

429    9.000
347    4.500
19     3.750
453    3.125
348    3.000
Name: A/D Ratio, dtype: float64

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [115]:
# your code here

five_top = pokemon.sort_values(by='A/D Ratio', ascending=False).head(5)
combo_types = five_top.loc[:, 'Combo Type'].tolist()
combo_types

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock', 'Water-Dark']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [122]:
# your code here
Psychic = pokemon[pokemon['Combo Type'] == 'Psychic']
Water_Dark = pokemon[pokemon['Combo Type'] == 'Water-Dark']
Bug_Poison = pokemon[pokemon['Combo Type'] == 'Bug-Poison']
Rock = pokemon[pokemon['Combo Type'] == 'Rock']

print(Psychic, Water_Dark, Bug_Poison, Rock)

       #                 Name   Type 1 Type 2  Total   HP  Attack  Defense  \
68    63                 Abra  Psychic    NaN    310   25      20       15
69    64              Kadabra  Psychic    NaN    400   40      35       30
70    65             Alakazam  Psychic    NaN    500   55      50       45
71    65        Mega Alakazam  Psychic    NaN    590   55      50       65
104   96              Drowzee  Psychic    NaN    328   60      48       45
105   97                Hypno  Psychic    NaN    483   85      73       70
162  150               Mewtwo  Psychic    NaN    680  106     110       90
164  150        Mega Mewtwo Y  Psychic    NaN    780  106     150       70
165  151                  Mew  Psychic    NaN    600  100     100      100
211  196               Espeon  Psychic    NaN    525   65      65       60
216  201                Unown  Psychic    NaN    336   48      72       48
217  202            Wobbuffet  Psychic    NaN    405  190      33       58
356  325               Spoink  Psychic    NaN    330   60      25       35
357  326              Grumpig  Psychic    NaN    470   80      45       65
391  358             Chimecho  Psychic    NaN    425   65      50       70
394  360               Wynaut  Psychic    NaN    260   95      23       48
428  386   DeoxysNormal Forme  Psychic    NaN    600   50     150       50
429  386   DeoxysAttack Forme  Psychic    NaN    600   50     180       20
430  386  DeoxysDefense Forme  Psychic    NaN    600   50      70      160
431  386    DeoxysSpeed Forme  Psychic    NaN    600   50      95       90
481  433            Chingling  Psychic    NaN    285   45      30       50
537  480                 Uxie  Psychic    NaN    580   75      75      130
538  481              Mesprit  Psychic    NaN    580   80     105      105
539  482                Azelf  Psychic    NaN    580   75     125       70
546  488            Cresselia  Psychic    NaN    600  120      70      120
576  517                Munna  Psychic    NaN    292   76      25       45
577  518             Musharna  Psychic    NaN    487  116      55       85
635  574              Gothita  Psychic    NaN    290   45      30       50
636  575            Gothorita  Psychic    NaN    390   60      45       70
637  576           Gothitelle  Psychic    NaN    490   70      55       95
638  577              Solosis  Psychic    NaN    290   45      30       40
639  578              Duosion  Psychic    NaN    370   65      40       50
640  579            Reuniclus  Psychic    NaN    490  110      65       75
666  605               Elgyem  Psychic    NaN    335   55      55       55
667  606             Beheeyem  Psychic    NaN    485   75      75       75
745  677               Espurr  Psychic    NaN    355   62      48       54
746  678         MeowsticMale  Psychic    NaN    466   74      48       76
747  678       MeowsticFemale  Psychic    NaN    466   74      48       76

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  A/D Ratio Combo Type
68       105       55     90           1      False   1.333333    Psychic
69       120       70    105           1      False   1.166667    Psychic
70       135       95    120           1      False   1.111111    Psychic
71       175       95    150           1      False   0.769231    Psychic
104       43       90     42           1      False   1.066667    Psychic
105       73      115     67           1      False   1.042857    Psychic
162      154       90    130           1       True   1.222222    Psychic
164      194      120    140           1       True   2.142857    Psychic
165      100      100    100           1      False   1.000000    Psychic
211      130       95    110           2      False   1.083333    Psychic
216       72       48     48           2      False   1.500000    Psychic
217       33       58     33           2      False   0.568966    Psychic
356       70       80     60           3      False   0.714286    Psychic
357       90      110     80           3      False   0.692308    Psychic
391       95       80     65           3      False   0.714286    Psychic
394       23       48     23           3      False   0.479167    Psychic
428      150       50    150           3       True   3.000000    Psychic
429      180       20    150           3       True   9.000000    Psychic
430       70      160     90           3       True   0.437500    Psychic
431       95       90    180           3       True   1.055556    Psychic
481       65       50     45           4      False   0.600000    Psychic
537       75      130     95           4       True   0.576923    Psychic
538      105      105     80           4       True   1.000000    Psychic
539      125       70    115           4       True   1.785714    Psychic
546       75      130     85           4      False   0.583333    Psychic
576       67       55     24           5      False   0.555556    Psychic
577      107       95     29           5      False   0.647059    Psychic
635       55       65     45           5      False   0.600000    Psychic
636       75       85     55           5      False   0.642857    Psychic
637       95      110     65           5      False   0.578947    Psychic
638      105       50     20           5      False   0.750000    Psychic
639      125       60     30           5      False   0.800000    Psychic
640      125       85     30           5      False   0.866667    Psychic
666       85       55     30           5      False   1.000000    Psychic
667      125       95     40           5      False   1.000000    Psychic
745       63       60     68           6      False   0.888889    Psychic
746       83       81    104           6      False   0.631579    Psychic
747       83       81    104           6      False   0.631579    Psychic          #           Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
141  130  Mega Gyarados  Water   Dark    640  95     155      109       70
347  318       Carvanha  Water   Dark    305  45      90       20       65
348  319       Sharpedo  Water   Dark    460  70     120       40       95
349  319  Mega Sharpedo  Water   Dark    560  70     140       70      110
374  342      Crawdaunt  Water   Dark    468  63     120       85       90
726  658       Greninja  Water   Dark    530  72      95       67      103

     Sp. Def  Speed  Generation  Legendary  A/D Ratio  Combo Type
141      130     81           1      False   1.422018  Water-Dark
347       20     65           3      False   4.500000  Water-Dark
348       40     95           3      False   3.000000  Water-Dark
349       65    105           3      False   2.000000  Water-Dark
374       55     55           3      False   1.411765  Water-Dark
726       71    122           6      False   1.417910  Water-Dark          #           Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
16    13         Weedle    Bug  Poison    195  40      35       30       20
17    14         Kakuna    Bug  Poison    205  45      25       50       25
18    15       Beedrill    Bug  Poison    395  65      90       40       45
19    15  Mega Beedrill    Bug  Poison    495  65     150       40       15
53    48        Venonat    Bug  Poison    305  60      55       50       40
54    49       Venomoth    Bug  Poison    450  70      65       60       90
181  167       Spinarak    Bug  Poison    250  40      60       40       40
182  168        Ariados    Bug  Poison    390  70      90       70       60
292  269         Dustox    Bug  Poison    385  60      50       70       50
603  543       Venipede    Bug  Poison    260  30      45       59       30
604  544     Whirlipede    Bug  Poison    360  40      55       99       40
605  545      Scolipede    Bug  Poison    485  60     100       89       55

     Sp. Def  Speed  Generation  Legendary  A/D Ratio  Combo Type
16        20     50           1      False   1.166667  Bug-Poison
17        25     35           1      False   0.500000  Bug-Poison
18        80     75           1      False   2.250000  Bug-Poison
19        80    145           1      False   3.750000  Bug-Poison
53        55     45           1      False   1.100000  Bug-Poison
54        75     90           1      False   1.083333  Bug-Poison
181       40     30           2      False   1.500000  Bug-Poison
182       60     40           2      False   1.285714  Bug-Poison
292       90     65           3      False   0.714286  Bug-Poison
603       39     57           5      False   0.762712  Bug-Poison
604       79     47           5      False   0.555556  Bug-Poison
605       69    112           5      False   1.123596  Bug-Poison          #        Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
200  185   Sudowoodo   Rock    NaN    410  70     100      115       30
323  299    Nosepass   Rock    NaN    375  30      45      135       45
414  377    Regirock   Rock    NaN    580  80     100      200       50
453  408    Cranidos   Rock    NaN    350  67     125       40       30
454  409   Rampardos   Rock    NaN    495  97     165       60       65
486  438      Bonsly   Rock    NaN    290  50      80       95       10
583  524  Roggenrola   Rock    NaN    280  55      75       85       25
584  525     Boldore   Rock    NaN    390  70     105      105       50
585  526    Gigalith   Rock    NaN    515  85     135      130       60

     Sp. Def  Speed  Generation  Legendary  A/D Ratio Combo Type
200       65     30           2      False   0.869565       Rock
323       90     30           3      False   0.333333       Rock
414      100     50           3       True   0.500000       Rock
453       30     58           4      False   3.125000       Rock
454       50     58           4      False   2.750000       Rock
486       45     10           4      False   0.842105       Rock
583       25     15           5      False   0.882353       Rock
584       40     20           5      False   1.000000       Rock
585       80     25           5      False   1.038462       Rock